{% extends 'app/base.html' %}
{% load staticfiles %}

{% block menu_items_block %}
    <li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:profile' %}">
            Profile
        </a> 
    </li>
    <li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:logout' %}">
            Log out
        </a>
    </li>
{% endblock %}

{% block body_block %}

<div class="main-container">

    <div class="dasboard-container h-width">

        <h2 class="dashboard-heading h-900">Welcome back,{% if user.is_donor %} {{donor.nickname}}{% else %} {{hospital.name}}{% endif %}!</h1>

        {% if user.is_donor %}

            <div class="dashboard-menu__container">
                <div class="dashboard-block h-border-radius h-shadow h-pointer show-map">
                    <a href="{% url 'app:map'%}" class="dashboard-block__text">
                        
                        <span class="block-text__title h-900">Map</span><br />
                        Discover hospitals nearby!
                    </a>
                </div>
                <div class="dashboard-block h-border-radius h-shadow h-pointer book-it__btn">
                    <div class="dashboard-block__text">
                        <span class="block-text__title h-900">Book it</span><br />
                        Create an appointment at hospital you fancy!
                    </div>
                </div>

                {% if donate %}
                    <div class="dashboard-block h-border-radius h-shadow h-pointer h-green">
                        <div class="dashboard-block__text">
                            <span class="block-text__title h-900">Can I?</span><br />
                            You can donate again!
                        </div>
                    </div>
                {% else %}
                    <div class="dashboard-block h-border-radius h-shadow h-pointer">
                        <div class="dashboard-block__text">
                            <span class="block-text__title h-900">Can I?</span><br />
                            No, you must wait {% if donor.gender == "M" %}3{% else %}4{% endif %} months after your last appointment!
                        </div>
                    </div>
                {% endif %}
                

            </div>

            {% if donor.notification %}
            <div class="bookings-container">
                <h2 class="dashboard-heading h-900">Who needs you</h2>
            
                    {% if notifications %}
                        <div class="bookings-wrapper">
                            {% for note in notifications %}
                                <div class="notification-block">
            
                                    <div class="notification-hospital h-700">{{ note.name }}</div>
                                    <div class="booking-actions">
                                        <a class="visit-detail h-pointer h-700" href="hospital/{{note.slug_name}}">Hospital detail</a>
                                    </div>

                                </div>                            
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="bookings-wrapper">
                            <div class="nothing-block">
                                <div class="booking-hospital">No hospitals need your blood type at the moment.</div>
                            </div>
                        </div>
                    {% endif %}                
            </div>
            {% endif %}  

            <div class="stories-container">
                <h2 class="dashboard-heading h-900">Most popular stories</h2>
                    {% if stories %}
                        <div class="stories-wrapper">
                            {% for story in stories %}

                            <div class="story-block">
                                    {% if story.picture != "" %}
                                    <img src="{{ MEDIA_URL }}{{ story.picture }}" alt="Story picture" class="story-pic">
                                    {% else %}
                                    <img src="{% static 'images/story_placeholder.jpg' %}" alt="Story picture" class="story-pic">
                                    {% endif %}
                                <div class="story-content">
                                    <h4 class="h-700">{{ story.heading }}</h4>
                                    <div class="story-text">{{ story.story }}</div>
                                    <div class="story-block__bar">
                                        <a href="story?id={{ story.id }}" class="story-link h-700">Read the story</a>
                                        <div class="likes-cont h-pointer" data-id="{{ story.id }}">
                                            <svg height="0" width="0" style="position:relative;">
                                                <path stroke="black" stroke-width="2" id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
                                                    C30,20.335,16,28.261,16,28.261z"/>                   
                                            </svg>
                                            <svg class="icon-like" viewBox="0 0 32 32">
                                                <use xlink:href="#heart-icon"></use>
                                            </svg>
                                            <span class="likes-count">{{ story.likes }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        
                        </div>
                    {% else %}
                        <div class="bookings-wrapper">
                            <div class="nothing-block">
                                    
                                    <div class="booking-hospital">There have been no stories posted yet.</div>

                            </div>
                        </div>

                    {% endif %}
            </div>

            <div class="bookings-container">
                <h2 class="dashboard-heading h-900">My bookings</h2>
            
                    {% if bookings %}
                        <div class="bookings-wrapper">
                            {% for booking in bookings %}

                                <div class="booking-block">
            
                                    <div class="booking-date">{{ booking.appointment }}</div>
                                    <div class="booking-hospital">{{ booking.hospital }}</div>
                                    <div class="booking-actions">
                                        <div class="booking-delete h-pointer h-700" data-id="{{ booking.pk }}">CANCEL</div>
                                    </div>

                                </div>
    

                            
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="bookings-wrapper">
                            <div class="nothing-block">
                                    
                                <div class="booking-hospital">You do not have any appointment booked.</div>

                            </div>
                        </div>
                    {% endif %}                
            </div>

            <div class="reviews-container">
                <h2 class="dashboard-heading h-900">My reviews</h2>

                {% if reviews %}
                    <div class="reviews-wrapper">
                        {% for review in reviews %}
                            {% if forloop.counter < 5 %}
                                <div class="review-block">
                                    <div class="review-content">
                                        <span>Review for:</span><br />
                                        <h4 class="h-700">{{ review.hospital }}</h4>
                                        <span class="review-date">On: {{ review.date }}</span><br />
                                        <span class="review-author">By: {{ review.donor }}</span>
                                        <div class="review-text">{{ review.review }}</div>
                                        <div class="review-bar">
                                            <a href="review?id={{ review.id }}" class="review-btn h-700">Read more!</a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            <div class="review-block fadeable h-display-none">
                                <div class="review-content">
                                    <span>Review for:</span><br />
                                    <h4 class="h-700">{{ review.hospital }}</h4>
                                    <span class="review-date">On: {{ review.date }}</span><br />
                                    <span class="review-author">By: {{ review.donor }}</span>                                     <span class="review-author">By: {{ review.donor }}</span>
                                    <div class="review-text">{{ review.review }}</div>
                                    <div class="review-bar">
                                        <a href="review?id={{ review.id }}" class="review-btn h-700">Read more!</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="bookings-wrapper">
                        <div class="nothing-block">
                                
                            <div class="booking-hospital">You have not written any review yet.</div>

                        </div>
                    </div>

                {% endif %}
                
            </div>

            {% if reviews|length > 4 %}
                <div class="show-more show-more-reviews h-700" data-section="reviews-section">Show more!</div>
            {% endif %}


        {% else %}

            <div class="dashboard-menu__container">
                <div class="dashboard-block h-border-radius h-shadow h-pointer show-map">
                    <a href="#" class="dashboard-block__text write-story__open">
                        
                        <span class="block-text__title h-900">Story</span><br />
                        Write a story to engage with donors!
                    </a>
                </div>
                <div class="dashboard-block h-border-radius h-shadow h-pointer show-map">
                    <a href="{% url 'app:map' %}" class="dashboard-block__text">
                        <span class="block-text__title h-900">Map</span><br />
                        Look which other hospitals joined!
                    </a>
                </div>

            </div>

            <div class="bookings-container">
                <h2 class="dashboard-heading h-900">Notify donors</h2>
            
                    <div class="bookings-wrapper">
                        <div class="notify-block">
                                {% csrf_token %}

                                <div class="booking-date">Select blood type you need</div>
                                <div class="booking-hospital">
                                    <select name="notify_type" id="notify_field" required>
                                        <option value="" disabled>Needed blood type</option>
                                        <option value="NO">We do not need any right now</option>
                                        <option value="O+">O positive</option>
                                        <option value="O-">O negative</option>
                                        <option value="A+">A positive</option>
                                        <option value="A-">A negative</option>
                                        <option value="B+">B positive</option>
                                        <option value="B-">B negative</option>
                                        <option value="AB+">AB positive</option>
                                        <option value="AB-">AB negative</option>
                                    </select>
                                </div>
                                <div class="booking-actions">
                                    <div class="notify-donors h-pointer h-700"">Notify them</div>
                                </div>

                        </div>
                    </div>           
            </div>

            <div class="bookings-container">
                <h2 class="dashboard-heading h-900">Bookings</h2>
            
                    {% if bookings %}
                        <div class="bookings-wrapper">
                            {% for booking in bookings %}

                                <div class="booking-block">
            
                                    <div class="booking-date">{{ booking.appointment }}</div>
                                    <div class="booking-hospital">{{ booking.hospital }}</div>
                                    <div class="booking-actions">
                                        <div class="booking-delete h-pointer h-700" data-id="{{ booking.pk }}">CANCEL</div>
                                    </div>

                                </div>
    

                            
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="bookings-wrapper">
                                <div class="nothing-block">
                                    
                                    <div class="booking-hospital">You do not have any appointment booked.</div>

                            </div>
                        </div>
                    {% endif %}                
            </div>

            <div class="stories-container">
                <h2 class="dashboard-heading h-900">My stories</h2>
                    {% if stories %}
                        <div class="stories-wrapper">
                            {% for story in stories %}

                                {% if forloop.counter < 5 %}

                                    <div class="story-block">
                                        {% if story.picture != "" %}
                                        <img src="{{ MEDIA_URL }}{{ story.picture }}" alt="Story picture" class="story-pic">
                                        {% else %}
                                        <img src="{% static 'images/story_placeholder.jpg' %}" alt="Story picture" class="story-pic">
                                        {% endif %}
                                        
                                        <div class="story-content">
                                            <h4 class="h-700">{{ story.heading }}</h4>
                                            <div class="story-text">{{ story.story }}</div>
                                            <div class="story-block__bar">
                                                <a href="story?id={{ story.id }}" class="story-link h-700">Read the story</a>
                                                <div class="likes-cont h-hospital" data-id="{{ story.id }}">
                                                        <svg height="0" width="0" style="position:relative;">
                                                                <path stroke="black" stroke-width="2" id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
                                                                    C30,20.335,16,28.261,16,28.261z"/>                   
                                                            </svg>
                                                            <svg class="icon-like" viewBox="0 0 32 32">
                                                                <use xlink:href="#heart-icon"></use>
                                                            </svg>
                                                    <span class="likes-count">{{ story.likes }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="story-block fadeable h-display-none">
                                        {% if story.picture != "" %}
                                        <img src="{{ MEDIA_URL }}{{ story.picture }}" alt="Story picture" class="story-pic">
                                        {% else %}
                                        <img src="{% static 'images/story_placeholder.jpg' %}" alt="Story picture" class="story-pic">
                                        {% endif %}
                                        <div class="story-content">
                                            <h4 class="h-700">{{ story.heading }}</h4>
                                            <div class="story-text">{{ story.story }}</div>
                                            <div class="story-block__bar">
                                                <a href="story?id={{ story.id }}" class="story-link h-700">Read the story</a>
                                                <div class="likes-cont h-hospital" data-id="{{ story.id }}">
                                                        <svg height="0" width="0" style="position:relative;">
                                                                <path stroke="black" stroke-width="2" id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
                                                                    C30,20.335,16,28.261,16,28.261z"/>                   
                                                            </svg>
                                                            <svg class="icon-like" viewBox="0 0 32 32">
                                                                <use xlink:href="#heart-icon"></use>
                                                            </svg>
                                                    <span class="likes-count">{{ story.likes }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                {% endif %}
                            
                            {% endfor %}
                        
                        </div>

                        {% if stories|length > 4 %}
                            <div class="show-more show-more-stories h-700" data-section="stories-section">Show more!</div>
                        {% endif %}

                    {% else %}
                        <div class="bookings-wrapper">
                            <div class="nothing-block">
                                    
                                    <div class="booking-hospital">There have been no stories posted yet.</div>

                            </div>
                        </div>

                    {% endif %}
            </div>

            <div class="reviews-container">
                <h2 class="dashboard-heading h-900">My reviews</h2>

                {% if reviews %}
                    <div class="reviews-wrapper">
                        {% for review in reviews %}
                            {% if forloop.counter < 5 %}
                                <div class="review-block">
                                    <div class="review-content">
                                        <span>Review for:</span><br />
                                        <h4 class="h-700">{{ review.hospital }}</h4>
                                        <span class="review-date">On: {{ review.date }}</span>
                                        <div class="review-text">{{ review.review }}</div>
                                        <div class="review-bar">
                                            <a href="review?id={{ review.id }}" class="review-btn h-700">Read more!</a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            <div class="review-block fadeable h-display-none">
                                <div class="review-content">
                                    <span>Review for:</span><br />
                                    <h4 class="h-700">{{ review.hospital }}</h4>
                                    <span class="review-date">On: {{ review.date }}</span>
                                    <div class="review-text">{{ review.review }}</div>
                                    <div class="review-bar">
                                        <a href="review?id={{ review.id }}" class="review-btn h-700">Read more!</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="bookings-wrapper">
                        <div class="nothing-block">
                                
                            <div class="booking-hospital">You have not written any review yet.</div>

                        </div>
                    </div>

                {% endif %}
                
            </div>

            {% if reviews|length > 4 %}
                <div class="show-more show-more-reviews h-700" data-section="reviews-section">Show more!</div>
            {% endif %}


        {% endif %}

    </div>
</div>

<div class="modal-wrapper cancel-booking__modal" data-name="modal">
    <div class="modal-container">
        <div class="modal-content__msg h-700">Do you really want to cancel this booking?</div>
        <div class="modal-buttons__cont">
            <div class="modal-button h-pointer h-uppercase cancel-modal__close h-link-effect-primary h-700">
                Close
            </div>
            <div class="modal-button h-pointer h-uppercase cancel-booking__btn h-link-effect-primary h-700">
                cancel it
            </div>
        </div>
    </div>
</div>

<div class="modal-wrapper write-story__modal" data-name="modal">
    <div class="modal-container">
        <form class="story-form" action="" method="post" enctype="multipart/form-data">
            <div class="modal-content__msg story-form__content">
                <label for="heading_field">Your story heading:</label>
                <input type="text" name="heading_field" id="heading_field"><br/>
                <label for="story_field">Your story:</label>
                <textarea name="story_field" id="story_field" cols="30" rows="10"></textarea>
                <label for="image_field">Select a picture: (not required)</label>
                <input type="file" name="image_field" id="image_field">
            </div>
            <div class="modal-buttons__cont">
                <div class="modal-button h-pointer h-uppercase write-story__close h-link-effect-primary h-700">
                    Close
                </div>
                <div class="modal-button h-pointer h-uppercase write-story__btn h-link-effect-primary h-700">
                    Publish it
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-wrapper notify-donors__modal" data-name="modal">
    <div class="modal-container">
        <div class="modal-content__msg h-700"></div>
        <div class="modal-buttons__cont">
            <div class="modal-button h-pointer h-uppercase notify-donors__close h-link-effect-primary h-700">
                Close
            </div>
        </div>
    </div>
</div>

<div class="modal-wrapper book-it__modal" data-name="modal">
        <div class="modal-container booking-modal_cont">
            <div class="modal-content__booking">
                {% if hospitals %}
                <div class="bookings-wrapper__modal">
                    {% for hos in hospitals %}
                        <div class="notification-block">

                            <div class="notification-hospital h-700">{{ hos.name }}</div>
                            <div class="booking-actions">
                                <a class="visit-detail h-pointer h-700" href="hospital/{{hos.slug_name}}">Hospital detail</a>
                            </div>

                        </div>                            
                    {% endfor %}
                </div>
                {% else %}
                    There are no hospitals in system right now.
                {% endif %}
            </div>
            <div class="modal-buttons__cont">
                <div class="modal-button h-pointer h-uppercase book-it__close h-link-effect-primary h-700">
                    Close
                </div>
            </div>
        </div>
    </div>

<div class="modal-wrapper information__modal" data-name="modal">
    <div class="modal-container">
        <div class="modal-content__msg h-700"></div>
        <div class="modal-buttons__cont">
            <div class="modal-button h-pointer h-uppercase information-modal__close h-link-effect-primary h-700">
                Close
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript_block %}

<script>

$(document).ready(function() {

    var notify = "{{ hospital.notified_types }}";
    if(notify != "") {
        $('#notify_field option[value="'+notify+'"]').attr('selected', 'selected')
    }

    // Show full hearts for all the stories the donor liked
    var liked = "{{liked}}"
    if (liked != ""){
        liked = JSON.parse(liked.replace(/&quot;/g,'"'))

        $.each(liked,function(i, like){

            $.each($(".likes-cont"),function(){

                console.log($(this).data("id"))
                if($(this).data("id") == like) {
                    $(this).addClass("h-liked")
                }
                    

            })

        })
    }

    

    var booking_to_cancel = -1;

    // Get only 40 words of the story text
    function ellipsizeTextBox(e) {

        var wordArray = e.html().split(' ');
        if (wordArray.length > 39){
            var newArray = [];
            var i = 0;
            while(i < 40) {
                newArray.push(wordArray[i]);
                i++;
            }
            e.html(newArray.join(' ') + '...');
        }
    }

    // Trim the text for all the texts
    $(".story-text").each(function() {
        ellipsizeTextBox($(this));
    })

    // Trim the text for all the texts
    $(".review-text").each(function() {
        ellipsizeTextBox($(this));
    })

    // Notify donors with hte given blood type
    $(".notify-donors").click(function () {

        var notify_type = $("#notify_field").val();
        var csrftoken = getCookie('csrftoken');

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken' : csrftoken},
            url: "notify_donors/",
            dataType: "json",
            data: {"type": notify_type},
            success: function(response) {
                console.log(response)
                if (response.success) {
                    $(".notify-donors__modal .modal-content__msg").html(response.message);
                    
                } else {
                    // Error handling
                    $(".notify-donors__modal .modal-content__msg").html(response.message);

                }
                // Show a modal with information about the signup process
                $(".notify-donors__modal").toggleClass("modal-open");
                // disable scrolling when modal is on
                $("html").css("overflow", "hidden");

            }
        });

    });

    // Open confirmation modal for booking cancellation
    $(".booking-delete").click(function () {

        booking_to_cancel =  $(this).data("id");

        $(".cancel-booking__modal").toggleClass("modal-open");
        $("html").css("overflow", "hidden");

    });



    // Cancel the given booking
    $(".cancel-booking__btn").click(function () {


        if(booking_to_cancel != -1) {

            $.ajax({
                type: "GET",
                url: "cancel_booking?id="+booking_to_cancel,
                dataType: "json",
                async: false,
                success: function(response) {

                    if (response.success) {

                        $(".cancel-booking__modal").toggleClass("modal-open");
                        $("html").css("overflow", "auto");

                    } else {
                        // Error handling
                        $(".cancel-booking__modal").toggleClass("modal-open");
                        $(".information__modal .modal-content__msg").html(response.message);
                        $(".information__modal").toggleClass("modal-open");
                        // disable scrolling when modal is on
                        $("html").css("overflow", "hidden");
                    }
                }
            })
        }
        

        

    
    });

    // Open write story modal
    $(".write-story__open").click(function (e) {

        e.preventDefault();

        $(".write-story__modal").toggleClass("modal-open");
        $("html").css("overflow", "hidden");

    });

    // Publish the story
    $(".write-story__btn").click(function () {

        // Get the data from form
        var story_heading = $("#heading_field").val();
        var story_text = $("#story_field").val();
        var file = $("#image_field").get(0).files[0];

        var csrftoken = getCookie('csrftoken');

        $("#heading_field").removeClass("h-empty");
        $("#story_field").removeClass("h-empty");

        if(story_heading == "" || story_text == "") {

            if(story_heading == "") {
                $("#heading_field").addClass("h-empty");
            }
            if(story_text == "") {
                $("#story_field").addClass("h-empty");
            }
            return;
        }

         // Get well formatted today's date
        var date = new Date(Date.now()).toISOString().split('T')[0];

        var formData = new FormData()

        if (file) {
            formData.append("time", date);
            formData.append("heading", story_heading);
            formData.append("story", story_text);
            formData.append("file", file);
        } else {
            formData.append("time", date);
            formData.append("heading", story_heading);
            formData.append("story", story_text);

        }

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken' : csrftoken},
            url: "{% url 'app:write_story' %}",
            enctype: 'multipart/form-data',
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {

                if (response.success) {

                    $(".information__modal .modal-content__msg").html(response.message);
                    // Show a modal with information about the signup process
                    $(".information__modal").toggleClass("modal-open");
                    // Close the write story modal
                    $(".write-story__modal").toggleClass("modal-open");

                } else {
                    // Error handling
                    $(".information__modal .modal-content__msg").html(response.message);
                    $(".information__modal").toggleClass("modal-open");

                }
                
                // disable scrolling when modal is on
                $("html").css("overflow", "hidden");

            }
        });


    });

    function getNewStories() {

        var hospital_id = "{{ hospital.pk }}";
        $.ajax({
            type: "GET",
            url: "../../get_new_reviews?hospital_id="+hospital_id,
            dataType: "json",
            success: function(response) {
                console.log(response)

                var new_html = '<h2 class="dashboard-heading h-900">Reviews of this hospital</h2><div class="reviews-wrapper">';
                var counter = 1;

                $.each(response["data"], function(i, val) {

                    console.log(val)

                    if(counter<5 ) {

                    new_html +='<div class="review-block"><div class="review-content"><span>Review for:</span><br /><h4 class="h-700">'+hospital_name+'</h4><span class="review-date">On: '+val["date"]+'</span><div class="review-text">'+val["review"]+'</div><div class="review-bar"><a href="../../review?id='+val["id"]+'" class="review-btn h-700">Read more!</a></div></div></div>'
                    
                    } else {
                        new_html +='<div class="review-block fadeable h-display-none"><div class="review-content"><span>Review for:</span><br /><h4 class="h-700">'+hospital_name+'</h4><span class="review-date">On: '+val["date"]+'</span><div class="review-text">'+val["review"]+'</div><div class="review-bar"><a href="../../review?id='+val["id"]+'" class="review-btn h-700">Read more!</a></div></div></div>'
                    }

                    counter += 1;
                })
                new_html += '</div>';

                if (response["data"].length > 4) {
                    new_html += '<div class="show-more show-more-reviews h-700" data-section="reviews-section">Show more!</div>';
                }

                $(".reviews-container").html(new_html);
            
            }
        })
    }

    // give like to the story
    $(".likes-cont").click(function () {

        if ($(this).hasClass("h-hospital")) {
            return;
        }

        var count = parseInt($(this).find("span.likes-count").html())
        
        if($(this).hasClass("h-liked")) {
            $(this).find("span.likes-count").html(count-1);
        } else {
            $(this).find("span.likes-count").html(count+1);
        }

        $(this).toggleClass("h-liked");

        var story_id = $(this).data("id");

        $.ajax({
            type: "GET",
            url: "like_story?id="+story_id,
            dataType: "json",
            success: function(response) {
                console.log(response)
            }
        })
        
    });

    // Open modal for booking
    $(".book-it__btn").click(function () {

        $(".book-it__modal").toggleClass("modal-open");
        $("html").css("overflow", "hidden");

    });

     // Close cancel modal
    $(".cancel-modal__close").click(function () {
        
        $(".cancel-booking__modal").toggleClass("modal-open");
        $("html").css("overflow", "auto");
    
    });
      // Close information modal
      $(".information-modal__close").click(function () {
        
        $(".information__modal").toggleClass("modal-open");
        $("html").css("overflow", "auto");
    
    });
     // Close notify modal 
     $(".notify-donors__close").click(function () {
        
        $(".notify-donors__modal").toggleClass("modal-open");
        $("html").css("overflow", "auto");
    
    });
    // Close booking modal 
    $(".book-it__close").click(function () {
        
        $(".book-it__modal").toggleClass("modal-open");
        $("html").css("overflow", "auto");
    
    });
    // Close story modal 
    $(".write-story__close").click(function () {
        
        $(".write-story__modal").toggleClass("modal-open");
        $("html").css("overflow", "auto");
    
    });
    // Close the modal by clicking around the diaglog box
    $(".modal-wrapper").click(function (e) {

        if (e.target.dataset["name"] == "modal") {
            $(this).toggleClass("modal-open");
            $("html").css("overflow", "auto");
        }

    });

    // Show more reviews
    $(".show-more-reviews").click(function () {
        if($(".reviews-wrapper").find(".fadeable").hasClass("h-display-none")) {
            $(this).text("Show less!");
        } else {
            $(this).text("Show more!");
        }
        $(".reviews-wrapper").find(".fadeable").toggleClass("h-display-none");
    });

    // Show more stories
    $(".show-more-stories").click(function () {
        if($(".stories-wrapper").find(".fadeable").hasClass("h-display-none")) {
            $(this).text("Show less!");
        } else {
            $(this).text("Show more!");
        }
        $(".stories-wrapper").find(".fadeable").toggleClass("h-display-none");
    });


})
</script>
{% endblock %}