<!DOCTYPE html>

{% load staticfiles %}

<head>
    <title>Blood Donation</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#v">
    <meta name="msapplication-TileColor" content="#e74c3c">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon end -->

    <!-- Facebook and Twitter sharing settings -->
    <meta property="og:title" content="Donate Blood and help many in need!">
	<meta property="og:type" content="website">
	<meta property="og:description" content="A platform aiming to make blood donation a breeze!">
	<meta property="og:url" content="https://blooddonation.com/index.html">
	<meta property="og:image" content="https://blooddonation.com/logo.svg">
    <!-- End of Facebook and Twitter sharing settings -->

    <!-- Leaflet maps setting -->
      <!-- Load Leaflet from CDN -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

        <!-- Load Esri Leaflet from CDN -->
         <script src="https://unpkg.com/esri-leaflet@2.3.3/dist/esri-leaflet.js"
        integrity="sha512-cMQ5e58BDuu1pr9BQ/eGRn6HaR6Olh0ofcHFWe5XesdCITVuSBiBZZbhCijBe5ya238f/zMMRYIMIIg1jxv4sQ=="
        crossorigin=""></script>

        <!-- Load Esri Leaflet Geocoder from CDN -->
        <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"
            integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
            crossorigin="">
        <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"
         integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ==" crossorigin=""></script>
    <!-- End of Leaflet maps setting -->
     <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">


    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          
            t._e = [];
            t.ready = function(f) {
              t._e.push(f);
            };
          
            return t;
          }(document, "script", "twitter-wjs"));</script>
</head>
<body>
    <div class="page-container">
        <nav class="navbar-top h-width">
            <div class="logo-wrapper">
                <a class="logo-link" href="{% url 'app:index' %}">
                    <img class="logo" src="{% static 'images/logo.svg' %}" alt="Blood Donation">
                </a>
            </div>
            <ul class="menu-wrapper">
                    {% block menu_items_block %}
                    {% endblock %}
                
            </ul>
        </nav>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

        <img class="footer-delimiter" src="{% static 'images/footer_delimiter.svg' %}" alt="Donate blood">
    </div>
        <!-- Footer content -->
        <footer>
            <div class="footer-content h-width">
                    <div class="footer-heading__container">

                        <svg class="footer-heading__drop" width="22px" height="36px" viewBox="0 0 22 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-opacity="0">
                                <g id="drop" fill="#c23616" stroke="#c23616" stroke-width="0.5">
                                    <path d="M10.8773262,0.00170572999 C10.8773262,0.00170572999 8.26404488,5.25819698 5.0027958,11.7615769 C-0.188503196,22.1153579 -5.09328581,35.6156422 10.8760667,36 L10.875437,36 C26.8592728,35.6133679 22.4085085,22.2705793 17.1957995,11.8940552 C13.9698139,5.47198181 10.8760667,0 10.8760667,0" id="Path"></path>
                                </g>
                            </g>
                        </svg>
                        <h1 class="footer-heading h-900 h-uppercase">Donate <span class="h-primary-dark">blood</span></h1>
                    </div>
                    <div class="footer-text">
                        <div class="footer-text__column column-text">
                            <h3 class="h-700 h-uppercase">
                                what now?
                            </h3>
                            <ul class="footer-list__app">
                                <li>
                                    <a class="footer-link" href="{% url 'app:contact' %}">Contact</a>
                                </li>
                                {% if not user.is_authenticated %}
                                <li>
                                    <a class="footer-link" href="{% url 'app:login' %}">Log in</a>
                                </li>
                                <li>
                                    <a class="footer-link" href="{% url 'app:signup' %}">Sign up</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a class="footer-link" href="{% url 'app:sitemap' %}">Site map</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-text__column column-social">
                            <h3 class="h-700 h-uppercase">
                                Spread the word!
                            </h3>
                            <ul class="footer-list__social">
                                <li>
                                    <a class="twitter-share-button" aria-size="large"
                                href="https://twitter.com/intent/tweet?text=Donate%20blood!">
                                Tweet</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
            </div>
        </footer>

        <script>
         function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        </script>

        {% block javascript_block %}

        {% endblock %}

</body>
</html>