{% extends 'app/base.html' %}
{% load staticfiles %}

{% block menu_items_block %}
    <li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:app' %}">
            Dashboard
        </a> 
    </li> 
    <li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:profile' %}">
            Profile
        </a> 
    </li>
    <li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:logout' %}">
            Log out
        </a>
    </li>
{% endblock %}

{% block body_block %}

<div class="main-container">

    <div class="dasboard-container h-width">

        <h4 class="back-link"><a href="{% url 'app:app'%}"><svg class="arrow-back" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>Back to dashboard</a></h4>

        <h2 class="dashboard-heading h-900">{{hospital.name}}</h1>

        {% if user.is_donor %}

            <div class="dashboard-menu__container">
                <div class="dashboard-block h-border-radius h-shadow h-pointer book-it__btn">
                    <div class="dashboard-block__text">
                        
                        <span class="block-text__title h-900">Book it!</span><br />
                        Book an appointment for next days!
                    </div>
                </div>
                <div class="dashboard-block h-border-radius h-shadow h-pointer write-review_btn">
                    <div class="dashboard-block__text">
                        <span class="block-text__title h-900">Review it!</span><br />
                        Describe your experience for other users!
                    </div>
                </div>

            </div>

            <div class="bookings-container map-container">
                    <h2 class="dashboard-heading h-900">Where to find this hospital</h2>
                    <div id="mapid" style="width: 100%; height: 300px"></div>
                </div>

            <div class="stories-container">
                <h2 class="dashboard-heading h-900">Stories by this hospital</h2>
                {% if stories %}
                <div class="stories-wrapper">
                    {% for story in stories %}

                        {% if forloop.counter < 5 %}

                            <div class="story-block">
                                {% if story.picture != "" %}
                                <img src="{{ MEDIA_URL }}{{ story.picture }}" alt="Story picture" class="story-pic">
                                {% else %}
                                <img src="{% static 'images/story_placeholder.jpg' %}" alt="Story picture" class="story-pic">
                                {% endif %}
                                
                                <div class="story-content">
                                    <h4 class="h-700">{{ story.heading }}</h4>
                                    <div class="story-text">{{ story.story }}</div>
                                    <div class="story-block__bar">
                                        <a href="../../story?id={{ story.id }}" class="story-link h-700">Read the story</a>
                                        <div class="likes-cont h-pointer" data-id="{{ story.id }}">
                                                <svg height="0" width="0" style="position:relative;">
                                                        <path stroke="black" stroke-width="2" id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
                                                            C30,20.335,16,28.261,16,28.261z"/>                   
                                                    </svg>
                                                    <svg class="icon-like" viewBox="0 0 32 32">
                                                        <use xlink:href="#heart-icon"></use>
                                                    </svg>
                                            <span class="likes-count">{{ story.likes }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="story-block fadeable h-display-none">
                                {% if story.picture != "" %}
                                <img src="{{ MEDIA_URL }}{{ story.picture }}" alt="Story picture" class="story-pic">
                                {% else %}
                                <img src="{% static 'images/story_placeholder.jpg' %}" alt="Story picture" class="story-pic">
                                {% endif %}
                                <div class="story-content">
                                    <h4 class="h-700">{{ story.heading }}</h4>
                                    <div class="story-text">{{ story.story }}</div>
                                    <div class="story-block__bar">
                                        <a href="../../story?id={{ story.id }}" class="story-link h-700">Read the story</a>
                                        <div class="likes-cont h-pointer" data-id="{{ story.id }}">
                                                <svg height="0" width="0" style="position:relative;">
                                                        <path stroke="black" stroke-width="2" id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
                                                            C30,20.335,16,28.261,16,28.261z"/>                   
                                                    </svg>
                                                    <svg class="icon-like" viewBox="0 0 32 32">
                                                        <use xlink:href="#heart-icon"></use>
                                                    </svg>
                                            <span class="likes-count">{{ story.likes }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        {% endif %}
                    
                    {% endfor %}
                
                </div>

                {% if stories|length > 4 %}
                    <div class="show-more show-more-stories h-700" data-section="stories-section">Show more!</div>
                {% endif %}

            {% else %}
                <div class="bookings-wrapper">
                    <div class="nothing-block">
                            
                        <div class="booking-hospital">There has been no stories posted by this hospital yet.</div>

                    </div>
                </div>

            {% endif %}
            </div>

            <div class="reviews-container">
                <h2 class="dashboard-heading h-900">Reviews of this hospital</h2>

                {% if reviews %}
                    <div class="reviews-wrapper">
                        {% for review in reviews %}
                            {% if forloop.counter < 5 %}
                                <div class="review-block">
                                    <div class="review-content">
                                        <span>Review for:</span><br />
                                        <h4 class="h-700">{{ review.hospital }}</h4>
                                        <span class="review-date">On: {{ review.date }}</span>
                                        <span class="review-author">By: {{ review.donor }}</span>
                                        <div class="review-text">{{ review.review }}</div>
                                        <div class="review-bar">
                                            <a href="../../review?id={{ review.id }}" class="review-btn h-700">Read more!</a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            <div class="review-block fadeable h-display-none">
                                <div class="review-content">
                                    <span>Review for:</span><br />
                                    <h4 class="h-700">{{ review.hospital }}</h4>
                                    <span class="review-date">On: {{ review.date }}</span>
                                    <span class="review-author">By: {{ review.donor }}</span>
                                    <div class="review-text">{{ review.review }}</div>
                                    <div class="review-bar">
                                        <a href="../../review?id={{ review.id }}" class="review-btn h-700">Read more!</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="bookings-wrapper">
                        <div class="nothing-block">
                            
                            <div class="booking-hospital">Nobody has reviewed this hospital yet.</div>

                        </div>
                    </div>

                {% endif %}
                
                {% if reviews|length > 4 %}
                    <div class="show-more show-more-reviews h-700" data-section="reviews-section">Show more!</div>
                {% endif %}
            </div>



        {% else %}
            <div class="bookings-container map-container">
                <h2 class="dashboard-heading h-900">Where to find this hospital</h2>
                <div id="mapid" style="width: 100%; height: 300px"></div>
            </div>

            <div class="stories-container">
                <h2 class="dashboard-heading h-900">Stories by this hospital</h2>
                    {% if stories %}
                        <div class="stories-wrapper">
                            {% for story in stories %}
                                {% if forloop.counter < 5 %}
                                    <div class="story-block">
                                        {% if story.picture != "" %}
                                        <img src="{{ MEDIA_URL }}{{ story.picture }}" alt="Story picture" class="story-pic">
                                        {% else %}
                                        <img src="{% static 'images/story_placeholder.jpg' %}" alt="Story picture" class="story-pic">
                                        {% endif %}
                                        
                                        <div class="story-content">
                                            <h4 class="h-700">{{ story.heading }}</h4>
                                            <div class="story-text">{{ story.story }}</div>
                                            <div class="story-block__bar">
                                                <a href="../../story?id={{ story.id }}" class="story-link h-700">Read the story</a>
                                                <div class="likes-cont h-hospital" data-id="{{ story.id }}">
                                                        <svg height="0" width="0" style="position:relative;">
                                                                <path stroke="black" stroke-width="2" id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
                                                                    C30,20.335,16,28.261,16,28.261z"/>                   
                                                            </svg>
                                                            <svg class="icon-like" viewBox="0 0 32 32">
                                                                <use xlink:href="#heart-icon"></use>
                                                            </svg>
                                                    <span class="likes-count">{{ story.likes }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="story-block fadeable h-display-none">
                                        {% if story.picture != "" %}
                                        <img src="{{ MEDIA_URL }}{{ story.picture }}" alt="Story picture" class="story-pic">
                                        {% else %}
                                        <img src="{% static 'images/story_placeholder.jpg' %}" alt="Story picture" class="story-pic">
                                        {% endif %}
                                        <div class="story-content">
                                            <h4 class="h-700">{{ story.heading }}</h4>
                                            <div class="story-text">{{ story.story }}</div>
                                            <div class="story-block__bar">
                                                <a href="../../story?id={{ story.id }}" class="story-link h-700">Read the story</a>
                                                <div class="likes-cont h-hospital" data-id="{{ story.id }}">
                                                        <svg height="0" width="0" style="position:relative;">
                                                                <path stroke="black" stroke-width="2" id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
                                                                    C30,20.335,16,28.261,16,28.261z"/>                   
                                                            </svg>
                                                            <svg class="icon-like" viewBox="0 0 32 32">
                                                                <use xlink:href="#heart-icon"></use>
                                                            </svg>
                                                    <span class="likes-count">{{ story.likes }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                {% endif %}
                            
                            {% endfor %}
                        
                        </div>

                        {% if stories|length > 4 %}
                            <div class="show-more show-more-stories h-700" data-section="stories-section">Show more!</div>
                        {% endif %}

                    {% else %}
                        <div class="bookings-wrapper">
                            <div class="nothing-block">
                                    
                                    <div class="booking-hospital">There have been no stories posted yet.</div>

                            </div>
                        </div>

                    {% endif %}
            </div>

            <div class="reviews-container">
                <h2 class="dashboard-heading h-900">Reviews of this hospital</h2>

                {% if reviews %}
                    <div class="reviews-wrapper">
                        {% for review in reviews %}
                            {% if forloop.counter < 5 %}
                                <div class="review-block">
                                    <div class="review-content">
                                        <span>Review for:</span><br />
                                        <h4 class="h-700">{{ review.hospital }}</h4>
                                        <span class="review-date">On: {{ review.date }}</span>
                                        <div class="review-text">{{ review.review }}</div>
                                        <div class="review-bar">
                                            <a href="../../review?id={{ review.id }}" class="review-btn h-700">Read more!</a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            <div class="review-block fadeable h-display-none">
                                <div class="review-content">
                                    <span>Review for:</span><br />
                                    <h4 class="h-700">{{ review.hospital }}</h4>
                                    <span class="review-date">On: {{ review.date }}</span>
                                    <div class="review-text">{{ review.review }}</div>
                                    <div class="review-bar">
                                        <a href="../../review?id={{ review.id }}" class="review-btn h-700">Read more!</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="bookings-wrapper">
                        <div class="nothing-block">
                                
                            <div class="booking-hospital">You have not written any review yet.</div>

                        </div>
                    </div>

                {% endif %}
                
                {% if reviews|length > 4 %}
                    <div class="show-more show-more-reviews h-700" data-section="reviews-section">Show more!</div>
                {% endif %}
            
            </div>



        {% endif %}

    </div>
</div>

<div class="modal-wrapper write-review__modal" data-name="modal">
    <div class="modal-container">
        {% csrf_token %}
        <div class="modal-content__msg">
            <label for="review_field">Your review of this hospital:</label>
            <textarea name="review_field" id="review_field" cols="30" rows="10"></textarea>
        </div>
        <div class="modal-buttons__cont">
            <div class="modal-button h-pointer h-uppercase review-modal__close h-link-effect-primary h-700">
                Close
            </div>
            <div class="modal-button h-pointer h-uppercase write-review__btn h-link-effect-primary h-700">
                Send the review
            </div>
        </div>
    </div>
</div>

<div class="modal-wrapper book-it__modal" data-name="modal">
    <div class="modal-container booking-modal_cont">
        {% csrf_token %}
        <div class="modal-booking__msg">
            
            
            <div class="booking-grid">
                {% if booking_slots %}
                    {% for time, availability in booking_slots.items %}
                        {% if forloop.counter == 25 or forloop.counter == 19 or forloop.counter == 13 or forloop.counter == 7 or forloop.counter == 1%}
                        <div data-day="{{time}}" class="booking-slot day-slot">
                           Day
                        </div>
                            <div data-time="{{time}}" class="booking-slot {% if availability %} h-free h-pointer {% else %} h-full {% endif %}">
                                {{ forloop.counter }}
                             </div>
                        {% else %}
                            <div data-time="{{time}}" class="booking-slot {% if availability %} h-free h-pointer {% else %} h-full {% endif %}">
                                {{ forloop.counter }}
                             </div>
                        {% endif %}

                    {% endfor %}
                {% else %}
                   We are sorry, something went wrong. Please, try ot book an appointment later!
                {% endif %}
            </div>

        </div>
        <div class="modal-buttons__cont">
            <div class="modal-button h-pointer h-uppercase book-modal__close h-link-effect-primary h-700">
                Close
            </div>
            <div class="modal-button h-pointer h-uppercase book-it__now h-link-effect-primary h-700">
                Book it
            </div>
        </div>
    </div>
</div>

<div class="modal-wrapper information__modal" data-name="modal">
        <div class="modal-container">
            <div class="modal-content__msg h-700"></div>
            <div class="modal-buttons__cont">
                <div class="modal-button h-pointer h-uppercase information-modal__close h-link-effect-primary h-700">
                    Close
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript_block %}

<script>

$(document).ready(function() {

    $(".booking-slot").each(function() {
        if($(this).data("time")){
            var timestamp = $(this).data("time");
            var date = new Date(timestamp*1000)

            var day = (date.getDate() < 10 ? '0' : '') + date.getDate(); //adding leading 0 if date less than 10 for the required dd format
            var month = (date.getMonth() < 9 ? '0' : '') + (date.getMonth() + 1); //adding leading 0 if month less than 10 for mm format. Used less than 9 because javascriptmonths are 0 based.
            var year = date.getFullYear(); //full year in yyyy format

            var hours = ((date.getHours() % 12 || 12) < 10 ? '0' : '') + (date.getHours() % 12 || 12) - 1; //converting 24h to 12h and using 12 instead of 0. also appending 0 if hour less than 10 for the required hh format
            var minutes = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes(); //adding 0 if minute less than 10 for the required mm format

            var formattedDate = hours + ':' + minutes;
            $(this).html(formattedDate);
        }
    })

    $(".day-slot").each(function() {
        if($(this).data("day")){
            var timestamp = $(this).data("day");
            var date = new Date(timestamp*1000)

            var day = (date.getDate() < 10 ? '0' : '') + date.getDate(); //adding leading 0 if date less than 10 for the required dd format
            var month = (date.getMonth() < 9 ? '0' : '') + (date.getMonth() + 1); //adding leading 0 if month less than 10 for mm format. Used less than 9 because javascriptmonths are 0 based.
            var year = date.getFullYear(); //full year in yyyy format

            var hours = ((date.getHours() % 12 || 12) < 10 ? '0' : '') + (date.getHours() % 12 || 12); //converting 24h to 12h and using 12 instead of 0. also appending 0 if hour less than 10 for the required hh format
            var minutes = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes(); //adding 0 if minute less than 10 for the required mm format

            var formattedDate = day + '-' + month + '-' + year;
            $(this).html(formattedDate);
        }
    })

    // Show full hearts for all the stories the donor liked
    var liked = "{{liked}}"
    liked = JSON.parse(liked.replace(/&quot;/g,'"'))

    $.each(liked,function(i, like){

        $.each($(".likes-cont"),function(){

            console.log($(this).data("id"))
            if($(this).data("id") == like) {
                $(this).addClass("h-liked")
            }
                

        })

    })

    // give like to the story
    $(".likes-cont").click(function () {

        if ($(this).hasClass("h-hospital")) {
            return;
        }
        var story_id = $(this).data("id");

        var count = parseInt($(this).find("span.likes-count").html())
        
        if($(this).hasClass("h-liked")) {
            $(this).find("span.likes-count").html(count-1);
        } else {
            $(this).find("span.likes-count").html(count+1);
        }

        $(this).toggleClass("h-liked");


        $.ajax({
            type: "GET",
            url: "../../like_story?id="+story_id,
            dataType: "json",
            success: function(response) {
            }
        })

    });

    var booking_to_cancel = -1;

    var hospital_id = "{{ user.id }}";
    var hospital_name = "{{ hospital.name }}";

    // Get only 40 words of the story text
    function ellipsizeTextBox(e) {

        var wordArray = e.html().split(' ');
        if (wordArray.length > 39){
            var newArray = [];
            var i = 0;
            while(i < 40) {
                newArray.push(wordArray[i]);
                i++;
            }
            e.html(newArray.join(' ') + '...');
        }
    }

    // Trim the text for all the texts
    $(".story-text").each(function() {
        ellipsizeTextBox($(this));
    })

    // Trim the text for all the texts
    $(".review-text").each(function() {
        ellipsizeTextBox($(this));
    })

     // Open modal for booking
     $(".book-it__btn").click(function () {

        $(".book-it__modal").toggleClass("modal-open");
        $("html").css("overflow", "hidden");

    });

    // Select a booking slot
    $(".booking-slot").click(function () {

        if($(this).hasClass("h-full")) {
            alert("This slot is already taken!");
            return;
        }
        if($(this).hasClass("day-slot")) {
            return;
        }

        $(".h-selected").toggleClass("h-selected");
        $(this).toggleClass("h-selected");


    });

    // Book an appointment
    $(".book-it__now").click(function () {

        if($(".h-selected").length == 0) {
            $(".information__modal .modal-content__msg").html("You have not selected any slot.");
            $(".information__modal").toggleClass("modal-open");
            return;
        }

        // Get the required information
        var csrftoken = getCookie('csrftoken');
        var donor_id = "{{ user.id }}";
        var hospital_id = "{{ hospital.pk }}";

        // // Get well formatted date
        var timestamp = $(".h-selected").data("time");
        var date = new Date(timestamp*1000-3600000);

        var day = (date.getDate() < 10 ? '0' : '') + date.getDate(); //adding leading 0 if date less than 10 for the required dd format
        var month = (date.getMonth() < 9 ? '0' : '') + (date.getMonth() + 1); //adding leading 0 if month less than 10 for mm format. Used less than 9 because javascriptmonths are 0 based.
        var year = date.getFullYear(); //full year in yyyy format

        var hours = ((date.getHours() % 12 || 12) < 10 ? '0' : '') + (date.getHours() % 12 || 12); //converting 24h to 12h and using 12 instead of 0. also appending 0 if hour less than 10 for the required hh format
        var minutes = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes(); //adding 0 if minute less than 10 for the required mm format

        var formattedDate = year + "-" + month + "-" + day + " " + hours + ':' + minutes;

        // format the data for request
        var data = {
            'time': formattedDate,
            'donor': donor_id,
            'hospital': hospital_id
        };

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken' : csrftoken},
            url: "{% url 'app:book_appointment' %}",
            data: data,
            success: function(response) {
                console.log(response)
                if (response.success) {

                    $(".information__modal .modal-content__msg").html(response.message);
                    // Show a modal with information about the signup process
                    $(".information__modal").toggleClass("modal-open");
                    // Close the write story modal
                    $(".write-story__modal").toggleClass("modal-open");

                    } else {
                    // Error handling
                    $(".information__modal .modal-content__msg").html(response.message);
                    $(".information__modal").toggleClass("modal-open");

                    }

                    // disable scrolling when modal is on
                    $("html").css("overflow", "hidden");
            
                }
        })


        // $(".write-review__modal").toggleClass("modal-open");
        // $("html").css("overflow", "auto");


    });


    // Open modal for review creation
    $(".write-review_btn").click(function () {

        $(".write-review__modal").toggleClass("modal-open");
        $("html").css("overflow", "hidden");

    });

    // Write an review
    $(".write-review__btn").click(function () {

        // TODO Cancel booking
        var csrftoken = getCookie('csrftoken');

        var donor_id = "{{ user.id }}";
        var hospital_id = "{{ hospital.pk }}";
        var review_text = $("#review_field").val();

        // Reset the error
        $("#review_field").removeClass("h-empty");
        
        // check if the required fields are filled
        if(review_text == "") {
            $("#review_field").addClass("h-empty");
            return;
        }

        // Get well formatted today's date
        var date = new Date(Date.now()).toISOString().split('T')[0];

        var data = {'review_text': review_text,
                    'time': date,
                    'donor': donor_id,
                    'hospital': hospital_id
                    };

        $.ajax({
            type: "POST",
            headers: {'X-CSRFToken' : csrftoken},
            url: "{% url 'app:write_review' %}",
            data: data,

            success: function(response) {

                if(response.success) {

                    getNewReviews()

                } else {

                }
            }
        })


        $(".write-review__modal").toggleClass("modal-open");
        $("html").css("overflow", "auto");


    });

    function getNewReviews() {

        var hospital_id = "{{ hospital.pk }}";
        $.ajax({
            type: "GET",
            url: "../../get_new_reviews?hospital_id="+hospital_id,
            dataType: "json",
            success: function(response) {

                var new_html = '<h2 class="dashboard-heading h-900">Reviews of this hospital</h2><div class="reviews-wrapper">';
                var counter = 1;

                $.each(response["data"], function(i, val) {

                    console.log(val)

                    if(counter<5 ) {

                    new_html +='<div class="review-block"><div class="review-content"><span>Review for:</span><br /><h4 class="h-700">'+hospital_name+'</h4><span class="review-date">On: '+val["date"]+'</span><div class="review-text">'+val["review"]+'</div><div class="review-bar"><a href="../../review?id='+val["id"]+'" class="review-btn h-700">Read more!</a></div></div></div>'
                    
                    } else {
                        new_html +='<div class="review-block fadeable h-display-none"><div class="review-content"><span>Review for:</span><br /><h4 class="h-700">'+hospital_name+'</h4><span class="review-date">On: '+val["date"]+'</span><div class="review-text">'+val["review"]+'</div><div class="review-bar"><a href="../../review?id='+val["id"]+'" class="review-btn h-700">Read more!</a></div></div></div>'
                    }

                    counter += 1;
                })
                new_html += '</div>';

                if (response["data"].length > 4) {
                    new_html += '<div class="show-more show-more-reviews h-700" data-section="reviews-section">Show more!</div>';
                }

                $(".reviews-container").html(new_html);
               
            }
        })
    }

    // Open confirmation modal for booking cancellation
    $(".booking-delete").click(function () {

        booking_to_cancel =  $(this).data("id");

        $(".cancel-booking__modal").toggleClass("modal-open");
        $("html").css("overflow", "hidden");

    });

    // Cancel the given booking
    $(".cancel-booking__btn").click(function () {

        // TODO Cancel booking

        if(booking_to_cancel != -1) {

            $.ajax({
                url: "cancel_booking?id="+booking_to_cancel,
                dataType: "json",
                async: false,
                success: function(response) {
                    console.log(response)
                }
            })
        }
        
        $(".modal-wrapper").toggleClass("modal-open");
        $("html").css("overflow", "auto");

    
    });
     // Close open modal
    $(".review-modal__close").click(function () {
        
        $(".write-review__modal").toggleClass("modal-open");
        $("html").css("overflow", "auto");
    
    });
     // Close open modal
     $(".book-modal__close").click(function () {
        
        $(".book-it__modal").toggleClass("modal-open");
        $("html").css("overflow", "auto");
    
    });
    // Close information modal
    $(".information-modal__close").click(function () {
        
        $(".information__modal").toggleClass("modal-open");
        $("html").css("overflow", "auto");
    
    });
    // Close the modal by clicking around the diaglog box
    $(".modal-wrapper").click(function (e) {

        if (e.target.dataset["name"] == "modal") {
            $(this).toggleClass("modal-open");
            $("html").css("overflow", "auto");
        }

    });

    // Show more reviews
    $("body").on("click", ".show-more-reviews", function () {
        if($(".reviews-wrapper").find(".fadeable").hasClass("h-display-none")) {
            $(this).text("Show less!");
        } else {
            $(this).text("Show more!");
        }
        $(".reviews-wrapper").find(".fadeable").toggleClass("h-display-none");
    });

    // Show more stories
    $(".show-more-stories").click(function () {
        if($(".stories-wrapper").find(".fadeable").hasClass("h-display-none")) {
            $(this).text("Show less!");
        } else {
            $(this).text("Show more!");
        }
        $(".stories-wrapper").find(".fadeable").toggleClass("h-display-none");
    });

    // Map setup
    var loc_raw = "{{ hospital.location }}";
    var hospital_name = "{{ hospital }}";
    var loc = JSON.parse(loc_raw.replace(/&quot;/g,'"'));

    var map = L.map('mapid',{ center: [loc["lat"], loc["lon"]], zoom: 8});

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '© OpenStreetMap' }).addTo(map);

    var marker = new L.marker([loc["lat"], loc["lon"]], title = hospital_name);
    marker.addTo(map);


})
</script>
{% endblock %}