{% extends 'app/base.html' %}
{% load staticfiles %}

{% block menu_items_block %}

<li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:signup' %}">
            sign up
        </a>
    </li>

{% endblock %}

{% block body_block %}

<div class="main-container">

    <div class="form-container h-width">

        <h1 class="page-heading h-900 h-text-center">Log in</h1>

        <form class="form-wrapper" method="POST" action="{% url 'app:login' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-line">
                <label for="email_field">Email</label>
                <input type="text" name="email" id="email_field">
            </div>
            <div class="form-line">
                <label for="password_field">Password</label>
                <input type="password" name="password" id="password_field">
            </div>

            <input class="h-btn h-text-center h-700 h-submit-btn" type="submit" value="Log in">

        </form>
<!-- 
        <div class="form-element h-btn h-text-center" id="forgotten_password">Forgotten password</div>

        <script type="text/javascript">

            $(document).ready(function(){
                $("#forgotten_password").click( function(){
                    console.log('Forgotten Password');
                })
            })

        </script> -->

        <div class="form-element form-note h-text-center">You do not have an account yet?</div>
        <div class="form-element h-btn h-text-center">
            <a href="{% url 'app:signup' %}">
                Create an account
            </a>
        </div>


    </div>
</div>


<div class="modal-wrapper" data-name="modal">
    <div class="modal-container">
        <div class="modal-content__msg h-700"></div>
        <div class="modal-buttons__cont">
            <div class="modal-button h-pointer h-uppercase modal-close h-link-effect-primary h-700">Close</div>
        </div>
    </div>
</div>


{% endblock %}


{% block javascript_block %}

<script type="text/javascript">
    $(document).ready(function(){

        // Submit the login form data
        $(".form-wrapper").on("submit", function(e) {
            e.preventDefault();

            // Get values from the form
            var username = $("#email_field").val();
            var password = $("#password_field").val();
            var csrftoken = getCookie('csrftoken');

            // Reset the error
            $("#email_field").removeClass("h-empty");
            $("#password_field").removeClass("h-empty");
            $(".modal-wrapper").removeClass("modal-open");
            
            // check if the required fields are filled
            if(username == "") {
                $("#email_field").addClass("h-empty");
                return;
            }
            if(password == "") {
                $("#password_field").addClass("h-empty");
                return;
            }
            console.log('Username: ' + username + " Password: " + password);

             $.ajax({
                type: "POST",
                headers: {'X-CSRFToken' : csrftoken},
                url: "{% url 'app:login' %}",
                data: {'username': username,
                        'password': password},
                // dataType: "json",
                success: function(response) {
                    // console.log(response);
                    // logged in
                    if(response.success) {
                        // Redirect to the dashboard
                        window.location.href = ("../app/");
                    } else {
                        // Error handling

                        $(".modal-content__msg").html(response.message);
                        $(".modal-wrapper").addClass("modal-open");
                        $("html").css("overflow", "hidden");
                    }
                }
            });
            


        })

        // Close the modal by clicking on the close button
        $(".modal-close").click(function () {
           
           $(".modal-wrapper").toggleClass("modal-open");
           $("html").css("overflow", "auto");
       
       });
       // Close the modal by clicking around the diaglog box
       $(".modal-wrapper").click(function (e) {

            if (e.target.dataset["name"] == "modal") {
                $(".modal-wrapper").toggleClass("modal-open");
                $("html").css("overflow", "auto");
            }

       });

    });
</script>


{% endblock %}