{% extends 'app/base.html' %}
{% load staticfiles %}

{% block menu_items_block %}



<li class="menu-item">
    <a class="menu-item__link h-link-effect" href="{% url 'app:profile' %}">
        Profile
    </a> 
</li>
<li class="menu-item">
    <a class="menu-item__link h-link-effect" href="{% url 'app:logout' %}">
        Log out
    </a>
</li>

{% endblock %}

{% block body_block %}

<div class="main-container">
    <div class="map-container h-width">
        <h4 class="back-link">
            <a href="{% url 'app:app'%}">
                <svg class="arrow-back" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
                Back to dashboard
            </a>
        </h4>
        <h2 class="map-heading h-900">Donation centres map</h2>
        <div class="map-block__wrapper">
            <div class="map-block">
                <div id="mapid" style="width: 100%; height: 550px"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript_block %}

    <script type="text/javascript">
        var map = L.map('mapid',{ center: [38.903858, -99.492188], zoom:4});
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '© OpenStreetMap' }).addTo(map);

        $(document).ready(function(){

            // Get the locations of the hospitals
            $.ajax({
                url: "{% url 'app:all_hospitals' %}",
                dataType: "json",
                async: false,
                success: function(response) {
                }
            }).done(function(data){
                
                // Add a marker to the map for each donation center
                $.each(data,function(key, val) {
                    var loc = JSON.parse(val[1]);
                    var marker = new L.marker([loc["lat"], loc["lon"]], title = key)
                    // Create a popup for marker with a link to the specific hospital detail page
                    var popup = L.popup().setContent('Visit the<a href="../hospital/'+val[2]+'"> detail page of '+ key +'</a>')
                    marker.addTo(map);
                    marker.bindPopup(popup); 
                })
   
            })

    
        });

    </script>
{% endblock %}