{% extends 'app/base.html' %}
{% load staticfiles %}

{% block menu_items_block %}

<li class="menu-item">
    <a class="menu-item__link h-link-effect" href="{% url 'app:login' %}">
        Profile
    </a> 
</li>
<li class="menu-item">
    <a class="menu-item__link h-link-effect" href="{% url 'app:logout' %}">
        Log out
    </a>
</li>
{% endblock %}

{% block body_block %}

<div class="main-container">

    <div class="dasboard-container h-width">

        <h4 class="back-link"><a href="{% url 'app:app'%}"><svg class="arrow-back" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>Back to dashboard</a></h4>


            <span class="review-detail__note">Review for:</span><br />
            <h2 class="review-heading h-900">{{ review.hospital }}</h2>

            <div class="review-detail">

                <div class="review-detail__content">
                    <span class="review-detail__date">On: {{ review.date }}</span><br />
                    <span class="review-detail__author">By: {{ review.donor }}</span>
                    <div class="review-detail__text">{{ review.review }}</div>
                   
                </div>
            </div>

    </div>
</div>


{% endblock %}


{% block javascript_block %}

{% endblock %}