{% extends 'app/base.html' %}
{% load staticfiles %}

{% block menu_items_block %}

<li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:login' %}">
            log in
        </a>
    </li>

{% endblock %}

{% block body_block %}

<div class="main-container">

    <div class="form-container h-width">

        <h1 class="page-heading h-900 h-text-center">Sign up</h1>

        <div class="selection-container">
            <div data-form="donor-form" class="selection-block h-border-radius h-shadow h-pointer {% if hospital %} {% else %}selected {% endif %}">
                <div class="selection-block__text">
                    Donor
                </div>
            </div>
            <div data-form="hospital-form" class="selection-block h-border-radius h-shadow h-pointer {% if hospital %} selected {% endif %}">
                <div class="selection-block__text">
                    Hospital
                </div>
            </div>
        </div>

        <form class="form-wrapper donor-form {% if hospital %} {% else %}selected-form {% endif %}" method="POST" action="/app/signup/">
            {% csrf_token %}

            <div class="form-line">
                <label for="first_name_field">First name</label>
                <input type="text" name="first_name" id="first_name_field"  required>
            </div>
            <div class="form-line">
                <label for="last_name_field">Last name</label>
                <input type="text" name="last_name" id="last_name_field"  required>
            </div>
            <div class="form-line">
                <label for="username_field">Nickname</label>
                <input type="text" name="nickname" id="nickname_field"  required>
            </div>
            <div class="form-line">
                <label for="email_field">Email</label>
                <input type="email" name="email" id="email_field"  required>
            </div>
            <div class="form-line">
                <label for="password_field">Password</label>
                <input type="password" name="password" id="password_field"  required>
            </div>
            <div class="form-line">
                <label for="birthday_field">Birthday</label>
                <input type="date" value="1998-01-01" min="2004-01-01"name="birthday" id="birthday_field" required>
            </div>
            <div class="form-line">
                <label for="city_field">City</label>
                <input type="text" name="city" id="city_field"  required>
            </div>
            <div class="form-line">
                <label for="weight_field">Weight in kilos</label>
                <input type="number" name="weight" id="weight_field" required>
            </div>

            <div class="form-line">
                <label for="height_field">Height in centimeters</label>
                <input type="number" name="height" id="height_field" required>
            </div>

            <div class="form-line">
                <label for="blood_field">Your blood type</label>
                <select name="blood_type" id="blood_field" required>
                    <option value="" disabled>Your Blood Type</option>
                    <option value="IDK">I do not know yet</option>
                    <option value="O+">O positive</option>
                    <option value="O-">O negative</option>
                    <option value="A+">A positive</option>
                    <option value="A-">A negative</option>
                    <option value="B+">B positive</option>
                    <option value="B-">B negative</option>
                    <option value="AB+">AB positive</option>
                    <option value="AB-">AB negative</option>
                </select>
            </div>
            <div class="form-note">
                By submitting this form, you give us a consent to provide your data to blood donation centres. If you want to see exactly what we do with data from you email us here: <a href="mailto:privacy@blooddonation.com">privacy@blooddonation.com</a>.
            </div>
            <input class="h-btn h-text-center h-700 h-submit-btn" id="donor-submit-btn" type="submit" value="Sign up">

        </form>
        <form class="form-wrapper hospital-form {% if hospital %} selected-form {% endif %}" method="POST" action="{% url 'app:signup' %}">
            {% csrf_token %}

            <div class="form-line">
                    <label for="hospital_email_field">Email</label>
                    <input type="email" name="hospital_email" id="hospital_email_field" required>
                </div>
                <div class="form-line">
                    <label for="hospital_password_field">Password</label>
                    <input type="password" name="hospital_password" id="hospital_password_field" required>
                </div>
                <div class="form-line">
                    <label for="hospital_name_field">Hospital Name</label>
                    <input type="text" name="hospital_name" id="hospital_name_field" required>
                </div>

            <!-- Map settings -->
            <h4 style="font-size: 1rem; padding: 20px 0px;" id="map_text">Please select your address on the map: </h4>
            <div id="mapid" style="width: 705px; height: 375px"></div>

            <div class="form-note">
                    By submitting this form, you give us a consent to use this data to improve our services. If you want to see exactly what we do with data from you email us here: <a href="mailto:privacy@blooddonation.com">privacy@blooddonation.com</a>.
                </div>
            <input class="h-btn h-text-center h-700 h-submit-btn" id="hospital-submit-btn" type="submit" value="Sign up">

        </form>

        <div class="form-element form-note">You already have an account?</div>
        <div class="form-element h-btn h-text-center">
            <a href="{% url 'app:login' %}">
                Yes, log in!
            </a>
        </div>
        

    </div>
</div>

<div class="modal-wrapper" data-name="modal">
    <div class="modal-container">
        <div class="modal-content__msg h-700"></div>
        <div class="modal-buttons__cont">
                <div class="modal-button h-pointer h-uppercase modal-close h-link-effect-primary h-700">Close</div>
           <div class="modal-button h-pointer h-uppercase modal-btn-login h-link-effect-primary h-700"><a href="{% url 'app:login' %}">
                log in
            </a></div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript_block %}

<script type="text/javascript">
    $(document).ready(function(){


        $(".donor-form").on("submit", function(e) {
            e.preventDefault();

            // Get values from the form
            var first_name = $("#first_name_field").val();
            var last_name = $("#last_name_field").val();
            var nickname = $("#nickname_field").val();
            var email = $("#email_field").val();
            var password = $("#password_field").val();
            var birthday = $("#birthday_field").val();
            var city = $("#city_field").val();
            var weight = $("#weight_field").val();
            var height = $("#height_field").val();
            var blood_type = $("#blood_field").val();
            var csrftoken = getCookie('csrftoken');

            // Reset the error
            $("#first_name_field").removeClass("h-empty");
            $("#last_name_field").removeClass("h-empty");
            $("#nickname_field").removeClass("h-empty");
            $("#email_field").removeClass("h-empty");
            $("#password_field").removeClass("h-empty");
            $("#birthday_field").removeClass("h-empty");
            $("#city_field").removeClass("h-empty");
            $("#weight_field").removeClass("h-empty");
            $("#height_field").removeClass("h-empty");
            $(".modal-btn-login").removeClass("btn-hidden");
            
            // check if the required fields are filled
            if(first_name == "" || last_name == "" || nickname == "" || 
            email == "" || password == "" || birthday == "" || 
            weight == "" || height == "" || city == "" ) {

                if(first_name == "") {
                    $("#first_name_field").addClass("h-empty");
                }
                if(last_name == "") {
                    $("#last_name_field").addClass("h-empty");
                }
                if(nickname == "") {
                    $("#nickname_field").addClass("h-empty");
                }
                if(email == "") {
                    $("#email_field").addClass("h-empty");
                }
                if(password == "") {
                    $("#password_field").addClass("h-empty");
                }
                if(birthday == "") {
                    $("#birthday_field").addClass("h-empty");
                }
                if(city == "") {
                    $("#city_field").addClass("h-empty");
                }
                if(weight == "") {
                    $("#weight_field").addClass("h-empty");
                }
                if(height == "") {
                    $("#height_field").addClass("h-empty");
                }
                return;

            }

            console.log(birthday);

            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken' : csrftoken},
                url: "{% url 'app:signup' %}",
                data: {
                    'username': nickname,
                    'email': email,
                    'password': password,
                    'first_name': first_name,
                    'last_name': last_name,
                    'birthday': birthday,
                    'height': height,
                    'weight': weight,
                    'city': city,
                    'blood_type' : blood_type
                },
                // dataType: "json",
                success: function(response) {
                    console.log(response);
                    if (response.success) {
                        $(".modal-content__msg").html(response.message);

                        // reset the form
                        $(".donor-form")[0].reset();
                       
                    } else {
                        
                        $(".modal-content__msg").html(response.message);
                        $(".modal-btn-login").addClass("btn-hidden");

                    }
                    $(".modal-wrapper").toggleClass("modal-open");
                }
            });

        });


        $(".hospital-form").on("submit", function(e) {
            e.preventDefault();

            // Get values from the form
            var username = $("#hospital_email_field").val();
            var password = $("#hospital_password_field").val();
            var hospital_name = $("#hospital_name_field").val();
            var csrftoken = getCookie('csrftoken');

            // Reset the error
            $("#hospital_email_field").removeClass("h-empty");
            $("#hospital_password_field").removeClass("h-empty");
            $("#hospital_name_field").removeClass("h-empty");
            $("#map_text").removeClass("h-warning");
            $(".modal-btn-login").removeClass("btn-hidden");
            
            // check if the required fields are filled
            if(username == "" || password == "" || hospital_name == "" || 
            loc == "") {

                if(username == "") {
                    $("#hospital_email_field").addClass("h-empty");

                }
                if(password == "") {
                    $("#hospital_password_field").addClass("h-empty");

                }
                if(hospital_name == "") {
                    $("#hospital_name_field").addClass("h-empty");

                }
                if(loc == "") {
                    $("#map_text").html("You have not selected a location of the hospital!");
                    $("#map_text").addClass("h-warning");
                }
                return;
            }


            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken' : csrftoken},
                url: "{% url 'app:signup' %}",
                data: {'hospital_email': username,
                        'hospital_password': password,
                        'location': JSON.stringify(loc),
                        'hospital_name' : hospital_name},
                // dataType: "json",
                success: function(response) {
                    console.log(response);
                    if (response.success) {
                        $(".modal-content__msg").html(response.message);

                        // reset the form
                        loc = "";
                        $(".hospital-form")[0].reset();
                        map.closePopup();
                       
                    } else {
                        
                        $(".modal-content__msg").html(response.message);
                        $(".modal-btn-login").addClass("btn-hidden");

                    }
                    $(".modal-wrapper").toggleClass("modal-open");
                    $("html").css("overflow", "hidden");
                }
            });
            


        })

        // Map setup

        var map = L.map('mapid',{ center: [54.41058, -3.97794], zoom: 5});

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '© OpenStreetMap' }).addTo(map);

        var searchControl = new L.esri.Controls.Geosearch().addTo(map);
        var results = new L.LayerGroup().addTo(map);

        searchControl.on('results', function(data){
            results.clearLayers();
            for (var i = data.results.length - 1; i >= 0; i--) {
                results.addLayer(L.marker(data.results[i].latlng));
            }
        });

        var popup = L.popup();
        var loc = "";

        // Write function to set Properties of the Popup
        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("Selected location: " + e.latlng.toString())
                .openOn(map);

                // Save the location as a dictionary
                loc = {"lat": e.latlng["lat"], "lon": e.latlng["lng"]};
        }

        // Listen for a click event on the Map element
        map.on('click', onMapClick);

        $(".modal-close").click(function () {
           
            $(".modal-wrapper").toggleClass("modal-open");
            $(".btn-hidden").toggleClass("btn-hidden");
            $("html").css("overflow", "auto");
        
        });

        $(".modal-wrapper").click(function (e) {

            if (e.target.dataset["name"] == "modal") {
                $(".modal-wrapper").toggleClass("modal-open");
                $(".btn-hidden").toggleClass("btn-hidden");
                $("html").css("overflow", "auto");
            }

        });

        // $('body').click(function (e) {
        //     if(!$(e.target).closest('.modal-wrapper').length && !$(e.target).is('.modal-wrapper')) {
        //         $(".modal-open").toggleClass("modal-open");
        //     }
        // });

        $(".selection-block").click(function () {
            if($(this).hasClass("selected")) {
                return;
            }
            var form = $(this).data("form");
            

            $(".selected").toggleClass("selected");
            $(this).toggleClass("selected");

            $(".selected-form").toggleClass("selected-form");
            $("."+form).toggleClass("selected-form");

            // Re-render the map
            map.invalidateSize();
        });

    });
</script>

{% endblock %}