{% extends 'app/base.html' %}
{% load staticfiles %}

{% block menu_items_block %}

<li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:login' %}">
            log in
        </a>
    </li>

{% endblock %}

{% block body_block %}

<div class="main-container">

    <div class="form-container h-width">

        <h1 class="page-heading h-900 h-text-center">Sign up</h1>

        <div class="selection-container">
                <div data-form="donor-form" class="selection-block h-border-radius h-shadow h-pointer selected">
                    <div class="selection-block__text">
                        Donor
                    </div>
                </div>
                <div data-form="hospital-form" class="selection-block h-border-radius h-shadow h-pointer">
                    <div class="selection-block__text">
                        Hospital
                    </div>
                </div>
        </div>

        <form class="form-wrapper donor-form selected-form" action="">
            {% csrf_token %}

            <input type="text" name="email" id="email_field" placeholder="Email">
            <input type="password" name="password" id="password_field" placeholder="Password">
            <input class="h-btn h-text-center h-700 h-submit-btn" type="submit" value="Sign up">

        </form>
        <form class="form-wrapper hospital-form" action="">
            {% csrf_token %}

            <input type="text" name="email" id="email_field" placeholder="Hospital">
            <input type="password" name="password" id="password_field" placeholder="Password">
            <input class="h-btn h-text-center h-700 h-submit-btn" type="submit" value="Sign up">

        </form>

        <div class="form-element form-note">You already have an account?</div>
        <div class="form-element h-btn h-text-center">
            <a href="{% url 'app:login' %}">
                Yes, log in!
            </a>
        </div>
        

    </div>
</div>


{% endblock %}

{% block javascript_block %}

<script type="text/javascript">
    $(document).ready(function(){

        $(".selection-block").click(function () {
            if($(this).hasClass("selected")) {
                return;
            }
            var form = $(this).data("form");

            $(".selected").toggleClass("selected");
            $(this).toggleClass("selected");

            $(".selected-form").toggleClass("selected-form");
            $("."+form).toggleClass("selected-form");
        });

    });
</script>

{% endblock %}