{% extends 'app/base.html' %}
{% load staticfiles %}

{% block menu_items_block %}
<li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:app' %}">
            Dashboard
        </a> 
    </li> 
<li class="menu-item">
    <a class="menu-item__link h-link-effect" href="{% url 'app:profile' %}">
        Profile
    </a> 
</li>
<li class="menu-item">
    <a class="menu-item__link h-link-effect" href="{% url 'app:logout' %}">
        Log out
    </a>
</li>
{% endblock %}

{% block body_block %}

<div class="main-container">

    <div class="dasboard-container h-width">

        <h4 class="back-link"><a href="{% url 'app:app'%}"><svg class="arrow-back" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>Back to dashboard</a></h4>

        <h2 class="dashboard-heading h-900">{{ story.heading }}</h2>

            <div class="story-detail">
                {% if story.picture is not None %}
                    <img src="{{ STATIC_URL }}{{ story.picture }}" alt="Story picture" class="story-detail__pic"/>
                {% else %}
                    <img src="{% static 'images/story_placeholder.jpg' %}" alt="Story picture" class="story-detail__pic">
                {% endif %}
                <div class="story-detail__content">
                    <div class="story-detail__text">{{ story.story }}</div>
                    <div class="story-detail__bar">
                      
                        <div class="story-detail__likes h-pointer" data-id="{{ story.id }}">
                            <svg class="icon_like" role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve"><path id="heart" d="M64 127.5C17.1 79.9 3.9 62.3 1 44.4c-3.5-22 12.2-43.9 36.7-43.9 10.5 0 20 4.2 26.4 11.2 6.3-7 15.9-11.2 26.4-11.2 24.3 0 40.2 21.8 36.7 43.9C124.2 62 111.9 78.9 64 127.5zM37.6 13.4c-9.9 0-18.2 5.2-22.3 13.8C5 49.5 28.4 72 64 109.2c35.7-37.3 59-59.8 48.6-82 -4.1-8.7-12.4-13.8-22.3-13.8 -15.9 0-22.7 13-26.4 19.2C60.6 26.8 54.4 13.4 37.6 13.4z"></path>♥</svg>
                            <span class="likes-count">{{ story.likes }}</span>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>


{% endblock %}


{% block javascript_block %}

{% endblock %}