{% extends 'app/base.html' %}
{% load staticfiles %}

{% block menu_items_block %}
<li class="menu-item">
        <a class="menu-item__link h-link-effect" href="{% url 'app:app' %}">
            Dashboard
        </a> 
    </li> 
<li class="menu-item">
    <a class="menu-item__link h-link-effect" href="{% url 'app:profile' %}">
        Profile
    </a> 
</li>
<li class="menu-item">
    <a class="menu-item__link h-link-effect" href="{% url 'app:logout' %}">
        Log out
    </a>
</li>
{% endblock %}

{% block body_block %}

<div class="main-container">

    <div class="dasboard-container h-width">

        <h4 class="back-link"><a href="{% url 'app:app'%}"><svg class="arrow-back" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>Back to dashboard</a></h4>

        <h2 class="dashboard-heading h-900">{{ story.heading }}</h2>

            <div class="story-detail">
                {% if story.picture != "" %}
                    <img src="{{ MEDIA_URL }}{{ story.picture }}" alt="Story picture" class="story-detail__pic"/>
                {% else %}
                    <img src="{% static 'images/story_placeholder.jpg' %}" alt="Story picture" class="story-detail__pic">
                {% endif %}
                <div class="story-detail__content">
                    <div class="story-detail__text">{{ story.story }}</div>
                    <div class="story-detail__bar">
                      
                        <div class="story-detail__likes h-pointer {% if user.is_hospital %}h-hospital{%endif%}" data-id="{{ story.id }}">
                                <svg height="0" width="0" style="position:relative;">
                                        <path stroke="black" stroke-width="2" id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
                                            C30,20.335,16,28.261,16,28.261z"/>                   
                                    </svg>
                                    <svg class="icon-like" viewBox="0 0 32 32">
                                        <use xlink:href="#heart-icon"></use>
                                    </svg>
                            <span class="likes-count">{{ story.likes }}</span>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>


{% endblock %}


{% block javascript_block %}

<script>

$(document).ready(function() {

    // Show full hearts for all the stories the donor liked
    var liked = "{{liked}}"
    var story_id = "{{story.id}}"

    if (liked != ""){
        liked = JSON.parse(liked.replace(/&quot;/g,'"'))

        $.each(liked,function(i, like){

            $.each($(".story-detail__likes"),function(){

                if($(this).data("id") == like) {
                    $(this).addClass("h-liked")
                }
                
            })

        })
    }

    // give like to the story
    $(".story-detail__likes").click(function () {

        if ($(this).hasClass("h-hospital")) {
            return;
        }

        var count = parseInt($(this).find("span.likes-count").html())
        
        if($(this).hasClass("h-liked")) {
            $(this).find("span.likes-count").html(count-1);
        } else {
            $(this).find("span.likes-count").html(count+1);
        }

        $(this).toggleClass("h-liked");

        var story_id = $(this).data("id");

        $.ajax({
            type: "GET",
            url: "../like_story?id="+story_id,
            dataType: "json",
            success: function(response) {

            }
        })

    });
});

</script>

{% endblock %}