.dasboard-container {
    @include display_flexbox();
    @include flex_direction(column);
    @include justify_content(flex-start);
    @include align-items(center);
    @include align-content(center);

}
.dashboard-heading {
    padding: 4vh 0px;
    position: relative;
    width: 100%;
    text-align: left;
}
.dashboard-menu__container {
    position: relative;
    width: 100%;
    padding-top: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 2em 2em;

}
.dashboard-block {
    position: relative;
    // width: 100%;
    overflow: hidden;
    z-index: 100;
    background: $primary-dark; /* fallback for old browsers */
    background-image: -webkit-radial-gradient( circle farthest-corner at 10% 20%,  $gradient-light 0%, $gradient-dark 90% ); 
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  $gradient-light 0%, $gradient-dark 90% );
    @include prefix(transition,(box-shadow 0.3s $curve));
    &:hover{
        box-shadow: 0 8px 50px 4px rgba(25,25,25,.32);
    }
    
    .block-text__title {
        font-size: 2.5em;
        line-height: 1em;
        padding-bottom: 20px;
        display: block;
        position: relative;
    }

}
.dashboard-block__text {
    z-index: 110;
    color: black;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 700;
    position: relative;
    display: block;
    padding: 20px;
    // margin-bottom: 50px;
    br {
        display: block;
        content: '';
        margin: 10px;
    }

}

// Stories block styles

.stories-container {
    position: relative;
    width: 100%;
}
.stories-wrapper {
    position: relative;
    width: 100%;
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em 3em;
}
.story-block {
    position: relative;
    border: 2px solid $red-light;
    background-color: white;
    @include prefix(transition,(background-color 0.3s $curve));
    &:hover {
        background-color: $red-light;
    }

    .icon_like {
        width: 16px;
        height: 16px;
        vertical-align: top;
        padding-right: 10px;
    }
    h4 {
        padding-bottom: 20px;
        display: block;
    }
}
.story-pic {
    width: 100%;
    position: relative;
}
.story-block__bar {
    // padding: 20px;
    width: 100%;
    position: relative;
    @include display_flexbox();
    @include justify_content(space-between);
    @include align-items(center);
    @include align-content(center);
}
.story-content {
    padding: 20px;
    position: relative;
    width: calc(100% - 40px);
}
.story-text {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}
.story-link {
    background-color: $primary;
    padding: 10px;
    color: white;
    @include prefix(transition,(color 0.3s $curve));
    &:hover {
        color: black
    }
}
.likes-cont {
    position: relative;
    @include display_flexbox();
    @include justify_content(flex-end);
    @include align-items(center);
    @include align-content(center);
}

// Bookings block styles

.bookings-container {
    position: relative;
    width: 100%;
}
.bookings-wrapper {
    position: relative;
    width: 100%;
    @include display_flexbox();
    @include flex_direction(column);
    @include justify_content(flex-start);
    @include align-items(center);
    @include align-content(center);

}

.booking-block {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px 0px;
    align-items: center;
    &:nth-of-type(odd) {
        background-color: $red-light;
    }
}
.notification-block {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px 0px;
    align-items: center;
    &:nth-of-type(odd) {
        background-color: $red-light;
    }
}
.notification-hospital {
    position: relative;
    padding-left: 20px;
  
}
.nothing-block {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px 0px;
    text-align: center;
    align-items: center;
    &:nth-of-type(odd) {
        background-color: $red-light;
    }
}
.notify-block {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px 0px;
    align-items: center;
    &:nth-of-type(odd) {
        background-color: $red-light;
    }
}

.booking-date {
    position: relative;
    padding-left: 20px;
}
.booking-hospital {
    position: relative;
  
}
.booking-actions {
   position: relative;
   padding-right: 20px;
   @include display_flexbox();
    @include justify_content(flex-end);
    @include align-items(center);
    @include align-content(center);
}
.booking-delete, .notify-donors, .visit-detail {
    position: relative;
    padding: 10px 15px;
    background-color: $primary;
    color: white;
    @include prefix(transition,(color 0.3s $curve, background-color 0.3s $curve));
    &:hover {
        color: black;
    }
}

// Review block styles

.reviews-container {
    position: relative;
    width: 100%;
}
.reviews-wrapper {
    position: relative;
    width: 100%;

    display: grid;
	grid-template-columns: repeat(2, 1fr);
	// grid-template-rows: repeat(2, 1fr);
    grid-gap: 3em 3em;

}
.review-block {
    position: relative;
    border: 2px solid $red-light;
    background-color: $red-light;

    h4 {
        padding: 20px 0px;
        display: block;
    }
}
.review-bar {
    // padding: 20px;
    width: 100%;
    position: relative;
    @include display_flexbox();
    @include justify_content(flex-end);
    @include align-items(center);
    @include align-content(center);
}
.review-content {
    padding: 20px;
    position: relative;
    width: calc(100% - 40px);
}
.review-date {
    width: 100%;
    position: relative;
    display: block;
    padding-bottom: 10px;
    font-size: 11px;
    line-height: 14px;
    text-align: left;
}
.review-author {
    width: 100%;
    position: relative;
    display: block;
    padding-bottom: 10px;
    font-size: 11px;
    line-height: 14px;
    text-align: left;
}
.review-text {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}
.review-btn {
    background-color: $primary;
    padding: 10px;
    color: white;
    @include prefix(transition,(color 0.3s $curve));
    &:hover {
        color: black
    }
}

// map styles

.leaflet-popup-content-wrapper {
    padding: 10px !important;
}

@media only screen and (max-width: 800px) {
    .stories-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3em 3em;
    
    }
    .dashboard-menu__container {
        position: relative;
        width: 100%;
        padding-top: 3vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 2em 2em;
    
    }
    .notify-block {
        position: relative;
        width: 100%;
        @include display_flexbox();
        @include flex_direction(column);
        @include justify_content(center);
        @include align-items(center);
        @include align-content(center);
        padding: 20px 0px;
        &:nth-of-type(odd) {
            background-color: $red-light;
        }
        & > * {
            padding: 10px 0px;
        }
        
    }
}
@media only screen and (max-width: 600px) {
    .dashboard-menu__container {
        position: relative;
        width: 100%;
        padding-top: 3vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2em 2em;
    
    }
}