
@import 'settings';
@import 'reset';
@import 'mixins';
@import 'helpers';


@import 'forms';

html, body {
    font-family: $base-font-family;
    letter-spacing: 1px;
    background-color: $primary;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}

.page-container {
    background-color: white;
    overflow: hidden;
}

.page-heading {
    padding-top: 4vh;
}
.dashboard-heading {
    padding-top: 4vh;
    position: relative;
    width: 100%;
}

.main-container {
    position: relative;
    width: 100%;
    padding-bottom: 10vh;
}
.navbar-top {
    position: relative;
    height: $navbar-height;

    @include display_flexbox();
    @include justify_content(space-between);
    @include align-items(center);
    @include align-content(center);


}
.logo-wrapper {
    position: relative;
    height: 100%;
    @include display_flexbox();
    @include flex-direction(column);
    @include justify_content(center);
    @include align-items(center);
    .logo-link {
        display: block;
    }
    .logo {
        height: 70%;
        width: auto;
    }

}

.menu-wrapper {
    position: relative;
    height: 100%;
    list-style: none;
    line-height: $navbar-height;

    .menu-item {
        height: 100%;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 600;
        
        .menu-item__link {
            display: block;
            height: 100%;
            position: relative;
            z-index: 10;
        }
    }

}

.intro-container {
    min-height: 100vh;

    .main-heading {
        padding-top: 4vh;
    }
    .main-subheading {
        padding: 4vh 0px 8vh 0px;
    }

}
.block-container {
    position: relative;
    width: 100%;
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
    grid-gap: 3em 5em;
    
}
.block-unit {
    position: relative;
    height: 16vh;
    min-height: 130px;
    max-height: 180px;
    overflow: hidden;
    background-color: $primary;
    cursor: pointer;
    @include prefix(transition,(transform 0.7s $curve, box-shadow 0.3s $curve, opacity 0.3s $curve));
    opacity: 1;
    @include prefix(transform, (translateY(0px)));
    &.visible{
        @include prefix(transform,(translateY(0px)));
        opacity: 1;
    }
    &:hover{
        box-shadow: 0 8px 50px 4px rgba(25,25,25,.32);
    }
    &.gradient-bg {
        background-image: linear-gradient(to bottom, $red-light, $primary); //FFBDB1
    }

    .block-unit__link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    

        &.register-link {

            @include display_flexbox();
            @include justify_content(center);
            @include align-items(center);
            @include align-content(center);
            
        }
    }
    .block-unit__drop {
        padding-left: 20px;
        @include prefix(transform, scale(1.2));
    }

    .block-unit__text {
        position: relative;
        font-size: 2em;
        line-height: 1.3em;
        top: 30px;
        margin: 0px 24px;
        display: block;
        color: white;
    }
    .block-unit__register {
        position: relative;
        font-size: 3.2vw;
        text-transform: uppercase;
        color: white;
        @media only screen and (min-width: 1400px) {
            font-size: 2.8em;
        }
    }

    .block-wave {
        position: absolute;
        bottom: 0px;
        min-height: 50%;
        left: -5%;
        width: 110%;
        z-index: -1;
    
    }
}

.status-container {
    position: relative;
    width: 100%;
    margin: 2vh auto;
    @include display_flexbox();
    @include justify_content(space-between);
    @include align-items(flex-start);
    @include align-content(center);
    font-size: 1.1em;
    line-height: 1.2em;

}
.hospital-text {
    color: $primary;
}
.scroll-down {
    position: relative;
    margin-bottom: 8vh;
    width: 100%;
    cursor: pointer;
    @include display_flexbox();
    @include justify_content(center);
    @include align-items(center);
    @include align-content(center);
    
}
.scroll-down__icon {
    width: 26px;
    @include prefix(transition,(transform 0.4s $curve, opacity 0.4s $curve));
    @include prefix(transform, translateY(0px));
    animation-name: floatScroll;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    &:hover {
            @include prefix(transform, (translateY(8px)));
    }
}
.landing-section {
    position: relative;
    width: 100%;
    padding: 40px 0px;
    h3 {
        padding-bottom: 30px;
        line-height: $h3;
    }
}
.section-heading {
    font-size: 3.3em;
    padding-bottom: 50px; 
    display: block;
}
.section-subheading {
    padding-bottom: 30px;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.5em;
    span {
        font-style: normal;
    }
}
.section-content__container {
    position: relative;
    width: 100%;
    display: grid;
    &.how-to-section {
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 2em 2em;
    }
    &.can-i-section {
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        grid-gap: 2em 2em;
    }
    &.used-section {
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        grid-gap: 2em 2em;
    }
    &.join-section {
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        grid-gap: 2em 2em;
    }
    &.map-section {
        grid-template-columns: repeat(1, 1fr);
        // grid-template-rows: repeat(1, 1fr);
        grid-gap: 2em 2em;
    }
    &.hospital-section {
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        grid-gap: 2em 2em;
    }
}
.show-more {
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 1.2em;
    color: $primary;
    cursor: pointer;
    margin-top: 20px;
}
.section-block {
    position: relative;
    // width: 100%;
    padding: 20px 20px;
    overflow: hidden;
    z-index: 100;
    background: $primary-dark; /* fallback for old browsers */
    background-image: -webkit-radial-gradient( circle farthest-corner at 10% 20%,  $gradient-light 0%, $gradient-dark 90% ); 
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  $gradient-light 0%, $gradient-dark 90% );
    @include prefix(transition,(box-shadow 0.3s $curve));
    &:hover{
        box-shadow: 0 8px 50px 4px rgba(25,25,25,.32);
    }
    &.map-section__block {
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        // background-image: linear-gradient( 109.6deg,  #55BABE 11.2%, #BEFCFE 91.1% );
        .section-block__text {
            color: black;
        }
        .section-block__number {
            color: #a1c4fd;//#55BABE;
        }
        
    }

}
.section-block__text {
    z-index: 110;
    color: white;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 700;
    position: relative;
    margin-bottom: 50px;
    br {
        display: block;
        content: '';
        margin: 10px;
    }

}
.block-text__title {
    font-size: 1.5em;
    line-height: 1.5em;

}
.section-block__number {
    position: absolute;
    bottom: -20px;
    left: 0px;
    font-size: 7em;
    font-weight: 900;
    color: $primary;
    z-index: 105;
    &.map-title {
        left: auto;
        right: -5px;
        font-size: 8em;
        bottom: -26px;
    }
}
.dashboard-menu__container {
    position: relative;
    width: 100%;
    padding-top: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 2em 2em;

}
.dashboard-block {
    position: relative;
    // width: 100%;
    padding: 20px 20px;
    overflow: hidden;
    z-index: 100;
    background: $primary-dark; /* fallback for old browsers */
    background-image: -webkit-radial-gradient( circle farthest-corner at 10% 20%,  $gradient-light 0%, $gradient-dark 90% ); 
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  $gradient-light 0%, $gradient-dark 90% );
    @include prefix(transition,(box-shadow 0.3s $curve));
    &:hover{
        box-shadow: 0 8px 50px 4px rgba(25,25,25,.32);
    }
    
    .block-text__title {
        font-size: 2.5em;
        line-height: 1em;
        padding-bottom: 20px;
        display: block;
        position: relative;
    }

}
.dashboard-block__text {
    z-index: 110;
    color: black;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 700;
    position: relative;
    // margin-bottom: 50px;
    br {
        display: block;
        content: '';
        margin: 10px;
    }

}


.selection-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 2em 2em;
    margin-top: 40px;
}
.selection-block {
    position: relative;
    padding: 20px 20px;
    overflow: hidden;
    z-index: 100;
    width: 70%;
    height: 80px;
    opacity: 0.5;
    background: $primary-dark; /* fallback for old browsers */
    background-image: -webkit-radial-gradient( circle farthest-corner at 10% 20%,  $gradient-light 0%, $gradient-dark 90% ); 
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  $gradient-light 0%, $gradient-dark 90% );
    @include prefix(transition,(box-shadow 0.3s $curve, opacity 0.3s $curve));
    &:hover{
        box-shadow: 0 8px 50px 4px rgba(25,25,25,.32);
        opacity: 1;
    }
    &.selected {
        opacity: 1;
    }
    &:first-of-type {
        justify-self: end;
    }
    &:nth-of-type(2) {
        justify-self: start;
    }

}
.selection-block__text {
    height: 100%;
    z-index: 110;
    color: white;
    font-size: 4em;
    line-height: 80px;
    font-weight: 700;
    text-align: center;

    position: relative;
    margin-bottom: 50px;
    br {
        display: block;
        content: '';
        margin: 10px;
    }

}

.register-btn__container {
    position: relative;
    width: 100%;
    padding: 40px 0px;
    @include display_flexbox();
    @include justify_content(center);
    @include align-items(center);
    @include align-content(center);

}



.contact-block__wrapper {
    position: relative;
    padding: 40px 0px 40px 0px;
    @include display_flexbox();
    @include justify_content(space-between);
    @include align-items(flex-start);
    @include align-content(center); 
}
.contact-block {
    width: 44%;
    h3 {
        padding: 30px 0px 30px 0px;
    }
    p {
        margin: 20px 0px;
        line-height: 24px;
        letter-spacing: 1px;
        text-align: justify;
    }
    h4 {
        line-height: 32px;
    }
}

.site-map {
    font-size: 0.8*$h3;
    line-height: $h3;
    li {
        ul {
            text-indent: 2em;
            li {
                ul {
                    text-indent: 4em;
                }
            }
        }
    }
}

.footer-delimiter {
    width: 104%;
    position: relative; 

}
footer {
    position: relative;
    display: block;
    min-height: 300px;
    color: white;
    &:before {
        width: 100%;
        content: '';
        height: 5px;
        background-color: $primary;
        position: absolute;
        top: -5px;
        left: 0px;
        right: 0px;
    }

}
.footer-heading__container {
    width: 100%;
    position: relative;
    top: 40px;
    @include display_flexbox();
    @include justify_content(flex-start);
    @include align-items(center);
    @include align-content(center);
}
.footer-heading__drop {
    width: 40px;
    height: auto;
    margin-right: 26px;
}
.footer-heading {
    color: white;
}
.footer-text {
    @include display_flexbox();
    @include justify_content(space-between);
    @include align-items(flex-start);
    @include align-content(center);
    padding: 80px;
}
.footer-text__column {
    position: relative;
    padding-top: 60px;
}
.footer-list__app {
    list-style: none;
    line-height: 28px;
    margin-top: 30px;

}
.footer-list__social {
    list-style: none;
    line-height: 28px;
    margin-top: 30px;
    
}

.signup-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(247, 217, 212, 0.6);
    opacity: 0;
    display: none;
    &.modal-open {
        display: block;
        opacity: 1;
    }
}
.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    width: 300px;
    min-height: 240px;
    @include prefix(transform, (translateX(-50%) translateY(-50%)));
    background-color: white;
    border: 3px solid black;
    padding: 20px;
    @include display_flexbox();
    @include flex-direction(column);
    @include justify_content(center);
    @include align-items(center);
    @include align-content(center);
}
.modal-content__msg {
    text-align: center;
    font-size: $h3;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}
.modal-buttons__cont {
    width: 100%;
    position: relative;
    @include display_flexbox();
    @include justify_content(space-around);
    @include align-items(center);
    @include align-content(center);
}
.modal-button{
    display: block;

    &.btn-hidden {
        display: none;
    }
}


// Mobile styles

@media only screen and (max-width: 800px) {
    .intro-container {
        .main-subheading {
            padding: 1em 0px 1em 0px;
        }
    }

    .block-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 3em;
        
    }

    .block-unit {
        $border-radius: 30px;
        position: relative;
        height: 160px;
        @include prefix(transition,(transform 0.7s $curve, box-shadow 0.3s $curve, opacity 0.3s $curve));
        opacity: 1;
        @include prefix(transform, (translateY(0px)));
        &.visible{
            @include prefix(transform,(translateY(0px)));
            opacity: 1;
        }
        &:hover{
            box-shadow: 0 8px 50px 4px rgba(25,25,25,.32);
        }
        &.gradient-bg {
            background-image: linear-gradient(to bottom, #FFBDB1, $primary);
        }
    
        .block-unit__link {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        
    
            &.register-link {
    
                @include display_flexbox();
                @include justify_content(center);
                @include align-items(center);
                @include align-content(center);
                
            }
        }
        .block-unit__drop {
            padding-left: 20px;
            @include prefix(transform, scale(1.2));
        }
    
        .block-unit__text {
            font-size: 5.2vw;
            top: 30px;
            margin: 0 30px;
            display: block;
            
        }
        .block-unit__register {
            font-size: 8.2vw;
        }
    
        .block-wave {
            bottom: 0px;
        }
    }
    .hospital-text {
        margin: 20px 0px;
    }
    .status-container {
        position: relative;
        width: 100%;
        margin: 2vh auto;
        @include flex-direction(column);
        @include justify_content(flex-start);
        @include align-items(flex-start);
        font-size: 1.1em;
        line-height: 1.2em;
    
    }

    .section-content__container {
        position: relative;
        width: 100%;
        display: grid;
        &.how-to-section {
            grid-template-columns: repeat(2, 1fr);
            // grid-template-rows: repeat(3, 1fr);
            grid-gap: 2em 2em;
        }
        &.can-i-section {
            grid-template-columns: repeat(2, 1fr);
            // grid-template-rows: repeat(2, 1fr);
            grid-gap: 2em 2em;
        }
        &.used-section {
            grid-template-columns: repeat(1, 1fr);
            // grid-template-rows: repeat(3, 1fr);
            grid-gap: 2em 2em;
        }
        &.join-section {
            grid-template-columns: repeat(1, 1fr);
            // grid-template-rows: repeat(4, 1fr);
            grid-gap: 2em 2em;
        }

        &.hospital-section {
            grid-template-columns: repeat(1, 1fr);
            // grid-template-rows: repeat(4, 1fr);
            grid-gap: 2em 2em;
        }
    }
    .selection-block__text {
    
        font-size: 2.8em;
    
    }


    .footer-heading__drop {
        margin-bottom: 16px;
        margin-right: 0px;
    }
    .footer-heading__container {
        @include flex-direction(column);
        @include justify_content(flex-start);
        @include align-items(flex-start);
    }

    .footer-text {
        @include flex-direction(column);
        @include justify_content(flex-start);
        @include align-items(flex-start);
        padding: 0px;
        padding-bottom: 80px;
    }

    .contact-block__wrapper {
        padding: 30px 0px 30px 0px;
        @include flex-direction(column);
        @include justify_content(flex-start);
        @include align-items(flex-start);
        @include align-content(center); 
    }
    
    .contact-block {
        width: 100%;
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .section-content__container {
        position: relative;
        width: 100%;
        display: grid;
        &.how-to-section {
            grid-template-columns: repeat(1, 1fr);
            // grid-template-rows: repeat(6, 1fr);
            grid-gap: 2em 2em;
        }
        &.can-i-section {
            grid-template-columns: repeat(1, 1fr);
            // grid-template-rows: repeat(4, 1fr);
            grid-gap: 2em 2em;
        }

       
    }
    .selection-block__text {
    
        font-size: 2.3em;
    
    }
}

@keyframes floatScroll {
    0% {
        @include prefix(transform, translateY(0px));
        opacity: 1;
    }

    50% {
        @include prefix(transform, translateY(8px));
        opacity: 0.8;
    }

    100% {
        @include prefix(transform, translateY(0px));
        opacity: 1;
    }
}
