h1 {
  font-size: 5em !important;
}

h2 {
  font-size: 3.4em !important;
}

h3 {
  font-size: 1.6em !important;
}

h4 {
  font-size: 1.4em !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h-text-center {
  text-align: center !important;
}

.h-text-right {
  text-align: right !important;
}

.h-display-none {
  display: none !important;
}

.h-display-inline-block {
  display: inline-block !important;
}

.h-display-block {
  display: block !important;
}

.h-relative {
  position: relative !important;
}

.h-width {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.h-primary {
  color: #e74c3c;
}

.h-primary-dark {
  color: #c23616;
}

.h-uppercase {
  text-transform: uppercase;
}

.h-300 {
  font-weight: 300;
}

.h-400 {
  font-weight: 400;
}

.h-700 {
  font-weight: 700;
}

.h-900 {
  font-weight: 900;
}

.h-border-radius {
  border-radius: 30px;
}

.h-pointer {
  cursor: pointer;
}

.h-shadow {
  -webkit-box-shadow: 0 4px 20px 0px rgba(25, 25, 25, 0.18);
          box-shadow: 0 4px 20px 0px rgba(25, 25, 25, 0.18);
}

.h-btn {
  position: relative;
  padding: 4px 14px;
  min-width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  color: #000000;
  cursor: pointer;
  -webkit-transition: background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.h-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  left: 0px;
  bottom: 0px;
  background-color: #e74c3c;
  -webkit-transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.h-btn:hover:after {
  width: 70%;
}

.h-submit-btn {
  margin: 20px auto;
  font-size: 1.2rem;
  height: 40px;
  text-transform: uppercase;
  line-height: 40px;
  background-color: #e74c3c;
  color: white;
  -webkit-transition: background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.h-submit-btn:hover {
  background-color: #ef8b80;
}

.h-warning {
  color: #c23616;
  font-weight: 700;
}

.h-link-effect:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 8px;
  left: -7px;
  bottom: 28px;
  z-index: -1;
  background-color: #e74c3c;
  -webkit-transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.h-link-effect:hover:after {
  width: 100%;
}

.h-link-effect-primary:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 8px;
  left: -7px;
  bottom: 8px;
  z-index: -1;
  background-color: #e74c3c;
  -webkit-transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.h-link-effect-primary:hover:after {
  width: 100%;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-top: 6vh;
}

.form-wrapper.donor-form {
  display: none;
}

.form-wrapper.hospital-form {
  display: none;
}

.form-wrapper.selected-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.form-element {
  margin: 30px auto;
}

.form-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 10px auto;
}

.form-line label {
  margin-right: 30px;
  text-align: right;
  width: 160px;
  line-height: 1.5em;
  display: inline-block;
}

.form-note {
  width: 320px;
  text-align: center;
  font-size: 11px;
  line-height: 15px;
  padding: 20px 0px;
}

.form-note a {
  color: #e74c3c;
}

select {
  max-width: 90vw;
  min-width: 240px;
  height: 30px;
}

input {
  position: relative;
  height: 40px;
  border: none;
  text-transform: none;
  font-weight: 500;
  color: #000000;
  text-align: left;
  text-decoration: none;
  outline: none;
  font-size: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px auto;
  z-index: 101;
  line-height: normal;
  max-width: 90vw;
  min-width: 200px;
  border-bottom: 3px solid #e74c3c;
}

input.h-btn {
  padding: 0px 20px 0px 20px;
}

input.h-empty {
  background-color: #f7d9d4;
}

input::-webkit-input-placeholder {
  /* Edge */
  color: #000000;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}

input::-ms-input-placeholder {
  color: #000000;
}

input::placeholder {
  color: #000000;
}

input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f7d9d4;
}

.dasboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.dashboard-heading {
  padding: 4vh 0px;
  position: relative;
  width: 100%;
  text-align: left;
}

.dashboard-menu__container {
  position: relative;
  width: 100%;
  padding-top: 3vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 2em 2em;
}

.dashboard-block {
  position: relative;
  padding: 20px 20px;
  overflow: hidden;
  z-index: 100;
  background: #c23616;
  /* fallback for old browsers */
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #fdc168 0%, #fb8080 90%);
  -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.dashboard-block:hover {
  -webkit-box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
          box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
}

.dashboard-block .block-text__title {
  font-size: 2.5em;
  line-height: 1em;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.dashboard-block__text {
  z-index: 110;
  color: black;
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 700;
  position: relative;
}

.dashboard-block__text br {
  display: block;
  content: '';
  margin: 10px;
}

.stories-container {
  position: relative;
  width: 100%;
}

.stories-wrapper {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 3em 5em;
}

.story-block {
  position: relative;
}

.story-block .icon_like {
  width: 16px;
  height: 16px;
  vertical-align: top;
  padding-right: 10px;
}

.story-block h4 {
  padding-bottom: 20px;
  display: block;
}

.story-pic {
  width: 100%;
  position: relative;
}

.story-block__bar {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.story-content {
  padding: 20px;
  position: relative;
  width: calc(100% - 40px);
}

.story-text {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-link {
  background-color: #e74c3c;
  padding: 10px;
  color: white;
  -webkit-transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.story-link:hover {
  background-color: #f7d9d4;
  color: black;
}

.likes-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.bookings-container {
  position: relative;
  width: 100%;
}

.bookings-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.booking-block {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  padding: 20px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-block:nth-of-type(odd) {
  background-color: #f7d9d4;
}

.booking-date {
  position: relative;
  padding-left: 20px;
}

.booking-hospital {
  position: relative;
}

.booking-actions {
  position: relative;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.booking-delete {
  position: relative;
  padding: 10px 15px;
  background-color: #e74c3c;
  color: white;
  -webkit-transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.booking-delete:hover {
  color: black;
}

@media only screen and (max-width: 800px) {
  .stories-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    grid-gap: 3em 5em;
  }
  .dashboard-menu__container {
    position: relative;
    width: 100%;
    padding-top: 3vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    grid-gap: 2em 2em;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-menu__container {
    position: relative;
    width: 100%;
    padding-top: 3vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-gap: 2em 2em;
  }
}

.dasboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.dashboard-heading {
  padding: 4vh 0px;
  position: relative;
  width: 100%;
  text-align: left;
}

.stories-container {
  position: relative;
  width: 100%;
}

.stories-wrapper {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 3em 5em;
}

.story-detail {
  position: relative;
}

.story-detail .icon_like {
  width: 16px;
  height: 16px;
  vertical-align: top;
  padding-right: 10px;
}

.story-detail h4 {
  padding-bottom: 20px;
  display: block;
}

.story-detail__pic {
  width: 100%;
  position: relative;
}

.story-block__bar {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.story-detail__content {
  padding: 20px;
  position: relative;
  width: calc(100% - 40px);
}

.story-detail__text {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-detail__likes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

html, body {
  font-family: "Lato", helvetica;
  letter-spacing: 1px;
  background-color: #e74c3c;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-container {
  background-color: white;
  overflow: hidden;
}

.page-heading {
  padding-top: 4vh;
}

.map-heading {
  padding-bottom: 40px;
}

.main-container {
  position: relative;
  width: 100%;
  padding-bottom: 10vh;
}

.navbar-top {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.logo-wrapper {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-wrapper .logo-link {
  display: block;
}

.logo-wrapper .logo {
  height: 70%;
  width: auto;
}

.menu-wrapper {
  position: relative;
  height: 100%;
  list-style: none;
  line-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-wrapper .menu-item {
  height: 100%;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0px 20px;
}

.menu-wrapper .menu-item .menu-item__link {
  display: block;
  height: 100%;
  position: relative;
  z-index: 10;
}

.back-link {
  position: relative;
  text-align: left;
  display: inline-block;
  margin: 30px 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.back-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-link a:hover svg {
  -webkit-transform: translateX(-6px) rotate(180deg);
          transform: translateX(-6px) rotate(180deg);
}

.back-link svg {
  padding-left: 10px;
  height: 16px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-transform: translateX(0px) rotate(180deg);
          transform: translateX(0px) rotate(180deg);
}

.intro-container {
  min-height: 100vh;
}

.intro-container .main-heading {
  padding-top: 4vh;
}

.intro-container .main-subheading {
  padding: 4vh 0px 8vh 0px;
}

.block-container {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 3em 5em;
}

.block-unit {
  position: relative;
  height: 16vh;
  min-height: 130px;
  max-height: 180px;
  overflow: hidden;
  background-color: #e74c3c;
  cursor: pointer;
  -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.block-unit.visible {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.block-unit:hover {
  -webkit-box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
          box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
}

.block-unit.gradient-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7d9d4), to(#e74c3c));
  background-image: linear-gradient(to bottom, #f7d9d4, #e74c3c);
}

.block-unit .block-unit__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.block-unit .block-unit__link.register-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.block-unit .block-unit__drop {
  padding-left: 20px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.block-unit .block-unit__text {
  position: relative;
  font-size: 2em;
  line-height: 1.3em;
  top: 30px;
  margin: 0px 24px;
  display: block;
  color: white;
}

.block-unit .block-unit__register {
  position: relative;
  font-size: 3.2vw;
  text-transform: uppercase;
  color: white;
}

@media only screen and (min-width: 1400px) {
  .block-unit .block-unit__register {
    font-size: 2.8em;
  }
}

.block-unit .block-wave {
  position: absolute;
  bottom: 0px;
  min-height: 50%;
  left: -5%;
  width: 110%;
  z-index: -1;
}

.status-container {
  position: relative;
  width: 100%;
  margin: 2vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  font-size: 1.1em;
  line-height: 1.2em;
}

.hospital-text {
  color: #e74c3c;
}

.scroll-down {
  position: relative;
  margin-bottom: 8vh;
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.scroll-down__icon {
  width: 26px;
  -webkit-transition: opacity 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: opacity 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation-name: floatScroll;
          animation-name: floatScroll;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.scroll-down__icon:hover {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.landing-section {
  position: relative;
  width: 100%;
  padding: 40px 0px;
}

.landing-section h3 {
  padding-bottom: 30px;
  line-height: 1.6em;
}

.section-heading {
  font-size: 3.3em;
  padding-bottom: 50px;
  display: block;
}

.section-subheading {
  padding-bottom: 30px;
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.5em;
}

.section-subheading span {
  font-style: normal;
}

.section-content__container {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.section-content__container.how-to-section {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 2em 2em;
}

.section-content__container.can-i-section {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em 2em;
}

.section-content__container.used-section {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em 2em;
}

.section-content__container.join-section {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em 2em;
}

.section-content__container.map-section {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em 2em;
}

.section-content__container.hospital-section {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em 2em;
}

.show-more {
  position: relative;
  width: 100%;
  text-align: right;
  font-size: 1.2em;
  color: #e74c3c;
  cursor: pointer;
  margin-top: 20px;
}

.section-block {
  position: relative;
  padding: 20px 20px;
  overflow: hidden;
  z-index: 100;
  background: #c23616;
  /* fallback for old browsers */
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #fdc168 0%, #fb8080 90%);
  -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.section-block:hover {
  -webkit-box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
          box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
}

.section-block.map-section__block {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.section-block.map-section__block .section-block__text {
  color: black;
}

.section-block.map-section__block .section-block__number {
  color: #a1c4fd;
}

.section-block__text {
  z-index: 110;
  color: white;
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
}

.section-block__text br {
  display: block;
  content: '';
  margin: 10px;
}

.block-text__title {
  font-size: 1.5em;
  line-height: 1.5em;
}

.section-block__number {
  position: absolute;
  bottom: -20px;
  left: 0px;
  font-size: 7em;
  font-weight: 900;
  color: #e74c3c;
  z-index: 105;
}

.section-block__number.map-title {
  left: auto;
  right: -5px;
  font-size: 8em;
  bottom: -26px;
}

.selection-container {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 2em 2em;
  margin-top: 40px;
}

.selection-block {
  position: relative;
  padding: 20px 20px;
  overflow: hidden;
  z-index: 100;
  width: 70%;
  height: 80px;
  opacity: 0.5;
  background: #c23616;
  /* fallback for old browsers */
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #fdc168 0%, #fb8080 90%);
  -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.selection-block:hover {
  -webkit-box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
          box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
  opacity: 1;
}

.selection-block.selected {
  opacity: 1;
}

.selection-block:first-of-type {
  -ms-grid-column-align: end;
      justify-self: end;
}

.selection-block:nth-of-type(2) {
  -ms-grid-column-align: start;
      justify-self: start;
}

.selection-block__text {
  height: 100%;
  z-index: 110;
  color: white;
  font-size: 4em;
  line-height: 80px;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.selection-block__text br {
  display: block;
  content: '';
  margin: 10px;
}

.register-btn__container {
  position: relative;
  width: 100%;
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.contact-block__wrapper {
  position: relative;
  padding: 40px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
}

.contact-block {
  width: 44%;
}

.contact-block h3 {
  padding: 30px 0px 30px 0px;
}

.contact-block p {
  margin: 20px 0px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: justify;
}

.contact-block h4 {
  line-height: 32px;
}

.site-map {
  font-size: 1.28em;
  line-height: 1.6em;
}

.site-map li ul {
  text-indent: 2em;
}

.site-map li ul li ul {
  text-indent: 4em;
}

.footer-delimiter {
  width: 104%;
  position: relative;
}

footer {
  position: relative;
  display: block;
  min-height: 300px;
  color: white;
}

footer:before {
  width: 100%;
  content: '';
  height: 5px;
  background-color: #e74c3c;
  position: absolute;
  top: -5px;
  left: 0px;
  right: 0px;
}

.footer-heading__container {
  width: 100%;
  position: relative;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.footer-heading__drop {
  width: 40px;
  height: auto;
  margin-right: 26px;
}

.footer-heading {
  color: white;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 80px;
}

.footer-text__column {
  position: relative;
  padding-top: 60px;
}

.footer-list__app {
  list-style: none;
  line-height: 28px;
  margin-top: 30px;
}

.footer-list__social {
  list-style: none;
  line-height: 28px;
  margin-top: 30px;
}

.modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(247, 217, 212, 0.6);
  opacity: 0;
  display: none;
}

.modal-wrapper.modal-open {
  display: block;
  opacity: 1;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;
  width: 400px;
  min-height: 240px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border: 3px solid black;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.modal-content__msg {
  text-align: center;
  font-size: 1.4em;
  line-height: 1.54em;
  margin-bottom: 50px;
  width: 100%;
  position: relative;
}

.modal-buttons__cont {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.modal-button {
  display: block;
  position: relative;
  font-size: 1.6em;
  padding: 10px;
}

.modal-button.btn-hidden {
  display: none;
}

@media only screen and (max-width: 800px) {
  .intro-container .main-subheading {
    padding: 1em 0px 1em 0px;
  }
  .block-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    grid-gap: 3em;
  }
  .block-unit {
    position: relative;
    height: 160px;
    -webkit-transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-box-shadow 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .block-unit.visible {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  .block-unit:hover {
    -webkit-box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
            box-shadow: 0 8px 50px 4px rgba(25, 25, 25, 0.32);
  }
  .block-unit.gradient-bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFBDB1), to(#e74c3c));
    background-image: linear-gradient(to bottom, #FFBDB1, #e74c3c);
  }
  .block-unit .block-unit__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .block-unit .block-unit__link.register-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .block-unit .block-unit__drop {
    padding-left: 20px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .block-unit .block-unit__text {
    font-size: 5.2vw;
    top: 30px;
    margin: 0 30px;
    display: block;
  }
  .block-unit .block-unit__register {
    font-size: 8.2vw;
  }
  .block-unit .block-wave {
    bottom: 0px;
  }
  .hospital-text {
    margin: 20px 0px;
  }
  .status-container {
    position: relative;
    width: 100%;
    margin: 2vh auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .section-content__container {
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
  .section-content__container.how-to-section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em 2em;
  }
  .section-content__container.can-i-section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em 2em;
  }
  .section-content__container.used-section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em 2em;
  }
  .section-content__container.join-section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em 2em;
  }
  .section-content__container.hospital-section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em 2em;
  }
  .selection-block__text {
    font-size: 2.8em;
  }
  .footer-heading__drop {
    margin-bottom: 16px;
    margin-right: 0px;
  }
  .footer-heading__container {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer-text {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0px;
    padding-bottom: 80px;
  }
  .contact-block__wrapper {
    padding: 30px 0px 30px 0px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .contact-block {
    width: 100%;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .section-content__container {
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
  .section-content__container.how-to-section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em 2em;
  }
  .section-content__container.can-i-section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em 2em;
  }
  .selection-block__text {
    font-size: 2.3em;
  }
}

@-webkit-keyframes floatScroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes floatScroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=app.css.map */